audio{
    height: 30px;
}


.layui-table-tips-main{
    max-height: 400px;
}

/**
 * 图片上传插件
 */
.pic-more { width:100%; margin: 10px 0px 0px 0px;}
.pic-more li { width:90px; float: left; margin-right: 5px; display:inline-block; padding-left: 5px; padding-right: 5px;}
.pic-more li .layui-input { display: initial; }
.pic-more li a { position: absolute; top: 0; }
.pic-more li a i { font-size: 24px; background-color: #008800; }
.pic-more-upload-list .item_img img{ width: 90px; height: 90px;background-color:#fff;border:1px solid #ddd;border-radius:3px; padding: 4px;}
.pic-more-upload-list .item_video { width: 200px; height: 232px;background-color:#fff;border:1px solid #ddd;border-radius:3px; padding: 4px; margin-bottom: 10px}
.pic-more-upload-list .item_audio { width: 300px; background-color:#fff;border:1px solid #ddd;border-radius:3px; padding: 4px; margin-bottom: 10px}
.pic-more-upload-list li{position: relative;}
.pic-more-upload-list li .operate{ color: #000; display: none;}
.pic-more-upload-list li .toleft{ position: absolute;top: 40px; left: 1px; cursor:pointer;}
.pic-more-upload-list li .toright{ position: absolute;top: 40px; right: 1px;cursor:pointer;}
.pic-more-upload-list li .upload_img_close{position: absolute;top: 5px; right: 5px;cursor:pointer;}
.pic-more-upload-list li:hover .operate{ display: block;}

/**
 * 解决下拉框被编辑器挡住的问题
 */
.layui-form-select dl{
    z-index: 1000;
}

/**
 * pane样式的表单，label文字宽度增加
 */
.layui-form-pane .layui-form-label{
    width:150px;
    padding:6px 15px;
    height:34px;
}

.layui-input, .layui-select, .layui-textarea{
    height:34px;
}

.layui-form-pane .layui-input-block{
    margin-left:150px;
}

.layui-table, .layui-table-view{
    margin:2px 0;
}

.layui-form-item .layui-inline{
    margin-right:0px;
}

.layui-form-item .layui-input-inline{
    width:180px;
}

.popup-content{
    background-color:#fff;
    margin:8px;
    padding: 15px 35px 35px 15px;
}

/**
layer美化，laytp-layer
 */
/**
 * laytp-layer 隐藏layer的阴影
 */
body .laytp-layer{
    /*background-color: transparent;!*背景透明*!*/
    box-shadow: 0 0 0 rgba(0,0,0,0);/*前景无阴影*/
}

/**
 * laytp-layer layui-layer-btn
 */
body .laytp-layer .layui-layer-btn{
    padding: 0 0 0 0;
}

.layui-card{
    margin-bottom: 0px;
}

/**
 * 搜索表单，行高去掉
 */
.layui-card-header{
    line-height: 0px;
    font-size: 12px;
    border-bottom: 0px;
}

/**
 * select_page插件样式美化
 */
.sp_container_combo{
    /*height:38px;*/
    overflow:hidden;
}

.layui-tab-title .layui-this{
    color: #369;
}

.layui-btn:active, .layui-btn.active{
    color: #fff;
    background-color:#217dbb;
    border-color:#2077b2;
    box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}

/* 导航相关 */
.layui-nav *{
    font-size:13px;
}

.layui-nav .layui-nav-item{
    line-height:30px;
}

.layui-nav .layui-this:after{
    width:0;
}

.layui-header .layui-nav .layui-nav-item:hover{
    background:rgba(0,0,0,0.1);
}

.layui-header .layui-nav .layui-nav-item > a{
    color:#fff;
}

.layui-nav-bar{
    height:0;
}

.layui-header .layui-nav .layui-this{
    background:rgba(0,0,0,0.1);
}

.layui-layout-admin .layui-side{
    top:50px;
}

.layui-layout-admin .layui-side{
    width: 230px;
    height:100%;
}

.layui-side-scroll{
    width: 100%;
    min-height:100%;
}

.layui-nav-tree{
    width: 100%;
}

.main-nav .layui-nav-item a{
    height:50px;
    line-height: 50px;
}

.layui-layout-right .layui-nav-item>a{
    height:50px;
    line-height: 50px;
}

.layui-side-scroll .layui-nav-tree .layui-nav-item a{
    height:42px;
    line-height: 42px;
}

layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a{
    background: var(--laytp-layui-nav-child-a-bg)!important;
}

.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this{
    background: var(--laytp-layui-nav-child-a-bg)!important;
}

.layui-layout-right .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more{
    margin-top: -9px;
}

.layui-nav-tree .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more{
    margin-top: -3px;
}

.layui-nav{
    background-color:#009688;
}

.layui-nav-tree li.layui-nav-itemed>a{
    /*background:#1e282c!important;*/
    color:var(--laytp-layui-side-layui-this-a)!important;
    margin-left: 5px;
}

.layui-layout-admin .layui-footer{
    left:230px;
}

.layui-layout-body{
    overflow:auto;
}

.layui-body{
    left:230px;
    overflow-y:hidden;
}

.layui-table{
    color:#333333;
}

.layui-table td, .layui-table th{
    font-size: 13px;
}

/*.layui-btn{*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*font-size:12px;*/
/*}*/

/**
 * 更小的按钮
 */
.layui-btn-sm-1{
    height:20px;
    line-height:20px;
    padding:0 5px;
    font-size:12px;
}

.layui-table-tool{
    background-color:#ffffff;
}

.layui-layout-admin .layui-footer{
    height: 44px;
    line-height: 44px;
    background-color:#e8edf0;
}

.page-body{
    background: rgb(241, 244, 246);
}

.layui-tab-title > li{
    margin-bottom: -1px;
}

.layui-tab{
    margin:0 0;
}

.layui-table-header table thead tr, .layui-table[lay-even] tr:nth-child(even){
    background-color:#ffffff;
}

.layui-table-header table thead tr th{
    font-weight:bold;
}

.layui-table-body tr:nth-child(odd){
    background-color:#f9f9f9;
}

.laytp-elem-quote{
    padding:10px;
    border-radius:0 2px 2px 0;
    background-color:#f2f2f2;
    line-height:22px;
    font-size:13px;
    color:#666;
}