{extend name="admin@public/layout/popup_form"}

{block name="form"}
<div class="layui-form-item">
    <label class="layui-form-label" title="分组英文标识">分组英文标识</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="row[group]" id="group" placeholder="请输入分组英文标识" class="layui-input" lay-verify="require" lay-verType="tips" />
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label" title="分组名称">分组名称</label>
    <div class="layui-input-block">
        <input autocomplete="off" type="text" name="row[group_name]" id="group_name" placeholder="请输入分组名称" class="layui-input" lay-verify="require" lay-verType="tips" />
    </div>
</div>
{/block}