{extend name="admin@public/main"}

{block name="main_body"}
<div class="page-tab-content" style="padding:0;">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                {foreach $config_gorup as $k=>$v}
                <li><a href="{:url('admin/sysconf/index',['group'=>$k])}" {if $group==$k}style="color:#369;"{/if}>{$v}</a></li>
                {/foreach}
                <li class="layui-icon"><a href="javascript:void(0);">&#xe654;</a></li>
            </ul>
            <div class="layui-tab-content">
                {foreach $config_gorup as $k=>$v}
                <div class="layui-tab-item layui-show">
                    {if $group==$k}
                    <style type="text/css">
                        .layui-form-item .layui-form-label{width:130px;text-align:right;}
                        .layui-form-item .layui-input-inline{max-width:80%;width:auto;min-width:260px;}
                        .layui-form-mid{padding:0!important;}
                        .layui-form-mid code{color:#5FB878;}
                    </style>
                    <form class="page-list-form layui-form" action="{:url('admin/sysconf/set_config')}" method="POST">
                        <input type="hidden" name="row[group]" value="{$group}" />
                        {foreach $config as $k=>$v}
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$v.name}</label>
                            <div class="layui-input-inline">
                            {switch ($v['type'])}
                                {case input}
                                <input type="text" name="row[{$v.key}]" placeholder="请输入{$v.name}" autocomplete="off" class="layui-input" value="{$v.value}" />
                                {/case}
                                {case radio}
                                {if is_array($v['content'])}
                                <!-- 隐藏域设置开关未选中时需要传递的参数值 -->
                                <input type="hidden" name="row[{$v['key']}]" value="{$v['content_value'][0]}" />
                                <input type="checkbox" name="row[{$v['key']}]" lay-skin="switch" lay-text="{$v['content_text'][1]}|{$v['content_text'][0]}" value="{$v['content_value'][1]}" {if $v['content_value'][1] == $v['value']}checked="checked"{/if} />
                                {/if}
                                {/case}
                                {case select_single}
                                <select name="row[{$v['key']}]" value="{$v['content_value'][0]}">
                                    {if is_array($v['content'])}
                                    {foreach $v['content'] as $k=>$v}
                                    <option value="{$k}">{$v}</option>
                                    {/foreach}
                                    {/if}
                                </select>
                                {/case}
                                {case array}
                                <table class="layui-table tableDnd" style="margin: 0;" lay-skin="line">
                                    <colgroup>
                                        <col width="150">
                                        <col width="200">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr class='nodrop nodrag'>
                                        <th>键名</th>
                                        <th>键值</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if is_array($v['value'])}
                                    {foreach $v['value'] as $ck=>$cv}
                                    <tr>
                                        <td style="padding: 4px 15px;"><input class="layui-input" type="text" name="row[{$v.key}][key][]" value="{$ck}" /></td>
                                        <td style="padding: 4px 15px;"><input class="layui-input" type="text" name="row[{$v.key}][value][]" value="{$cv}" /></td>
                                        <td style="padding: 4px 15px;">
                                            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-delete del_array_item" title="删除"></a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    {/if}
                                    <tr class='nodrop nodrag'>
                                        <td colspan="3" style="padding: 4px 15px;">
                                            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-1 add_array_item" config_key="{$v.key}" title="追加">追加</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                {/case}
                            {/switch}
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                <div class="layui-form-mid layui-word-aux">
                                    {$v.tip}
                                    <br />
                                    调用方式
                                    <code>Config::get('{$group}.{$v.key}')</code>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        <div class="layui-form-item">
                            <label class="layui-form-label"> </label>
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="*">提 交</button>
                            </div>
                        </div>
                    </form>
                    {/if}
                </div>
                {/foreach}
                <div class="layui-tab-item">
                    <form class="page-list-form layui-form" action="{:url('admin/sysconf/add')}" method="POST">
                        <div class="layui-form-item">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-inline">
                                <select name="row[type]" lay-filter="select_type" lay-verify="required">
                                    <option value="input">单行文本输入框</option>
                                    <option value="select_single">单选下拉框</option>
                                    <option value="select_multi">多选下拉框</option>
                                    <option value="radio">开关</option>
                                    <option value="image_single">图片</option>
                                    <option value="image_multi">图片（多个）</option>
                                    <option value="file_single">文件</option>
                                    <option value="file_multi">文件（多个）</option>
                                    <option value="array">数组</option>
                                    <option value="ueditor">富文本编辑器UEditor</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属分组</label>
                            <div class="layui-input-inline">
                                <select name="row[group]" lay-verify="required">
                                    {foreach $config_gorup as $k=>$v}
                                    <option value="{$k}">{$v}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">变量名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="row[key]" placeholder="请输入变量名" autocomplete="off" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">变量标题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="row[name]" placeholder="请输入变量标题" autocomplete="off" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">变量值</label>
                            <div class="layui-input-inline">
                                <input type="text" name="row[value]" placeholder="请输入变量值" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="form-item-content" style="display: none;">
                                <label class="layui-form-label">数据列表</label>
                                <div class="layui-input-inline">
                                    <textarea name="row[content]" placeholder="变量内容" class="layui-textarea">value1|title1
value2|title2</textarea>
                                </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">提示信息</label>
                            <div class="layui-input-inline">
                                <input type="text" name="row[tip]" placeholder="请输入提示信息" autocomplete="off" class="layui-input" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"> </label>
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="*">提 交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/sysconf.js" charset="utf-8"></script>
{/block}

{block name="js_template"}
<script id="array_item_html" type="text/html">
    <tr>
        <td style="padding: 4px 15px;"><input class="layui-input" type="text" name="row[{{ d.config_key }}][key][]" /></td>
        <td style="padding: 4px 15px;"><input class="layui-input" type="text" name="row[{{ d.config_key }}][value][]" /></td>
        <td style="padding: 4px 15px;">
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-delete del_array_item" title="删除"></a>
        </td>
    </tr>
</script>
{/block}