{extend name="admin@public/form"}

{block name="form"}
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">网站设置</li>
        <li>用户管理</li>
        <li>权限分配</li>
        <li>商品管理</li>
        <li>订单管理</li>
        <li class="layui-icon">&#xe654;</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-field-box layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">站点名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="row[site_name]" placeholder="请输入站点名称" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">basic.site_name</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备案号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="row[record]" placeholder="请输入备案号" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">basic.record</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">登录验证码</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="row[login_vercode]" value="0" />
                        <input type="checkbox" name="row[login_vercode]" lay-skin="switch" lay-text="需要|不需要" value="1" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">basic.login_vercode</div>
                </div>
                <div class="form-footer">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*">立即提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">
            <form class="layui-field-box layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">是否可以设置超管</label>
                    <div class="layui-input-inline">
                        <input type="text" name="row[set_super_manager]" placeholder="请输入站点名称" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">basic.site_name</div>
                </div>
                <div class="form-footer">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*">立即提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-tab-item">内容3</div>
        <div class="layui-tab-item">内容4</div>
        <div class="layui-tab-item">内容5</div>
        <div class="layui-tab-item">
            <form class="layui-field-box layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <select>
                            <option>单行文本输入框</option>
                            <option>单选下拉框</option>
                            <option>多选下拉框</option>
                            <option>复选框</option>
                            <option>单选按钮</option>
                            <option>图片</option>
                            <option>图片（多个）</option>
                            <option>文件</option>
                            <option>文件（多个）</option>
                            <option>数组</option>
                            <option>富文本编辑器UEditor</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属分组</label>
                    <div class="layui-input-block">
                        <input type="text" name="row[group]" placeholder="请输入分组名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">变量名</label>
                    <div class="layui-input-block">
                        <input type="text" name="row[key]" placeholder="请输入变量名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">变量值</label>
                    <div class="layui-input-block">
                        <input type="text" name="row[value]" placeholder="请输入变量值" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="form-footer">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*">立即提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="javascript"}
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
{/block}