{extend name="admin@public/layout/popup_form"}

{block name="form"}
    <div class="layui-form-item">
        <label class="layui-form-label" title="事件名称">事件名称</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[event]" id="event" placeholder="请输入事件名称" value="{$event}" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="模板标题">模板标题</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[title]" id="title" placeholder="请输入模板标题" value="{$title}" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="模板内容，支持html标签">模板内容，支持html标签</label>
        <div class="layui-input-block">
            <textarea name="row[template]" id="template" placeholder="请输入模板内容，支持html标签" class="layui-textarea" lay-verify="" lay-verType="tips">{$template}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="模板是否为html">模板是否为html</label>
        <div class="layui-input-block">
            <!-- 隐藏域设置开关未选中时需要传递的参数值 -->
            <input type="hidden" name="row[ishtml]" id="ishtml-2" value="2" />
            <input type="checkbox" name="row[ishtml]" id="ishtml-1" lay-skin="switch" lay-text="是|不是" value="1" {if 1 == $ishtml}checked="checked"{/if} />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="过期时长，单位秒，0表示永不过期">过期时长，单位秒，0表示永不过期</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[expire]" id="expire" placeholder="请输入过期时长，单位秒，0表示永不过期" value="{$expire}" class="layui-input" lay-verify="layTp_number" lay-verType="tips">
        </div>
    </div>
{/block}