<script type="text/html" id="default_toolbar">
    <div class="default_toolbar_list">
        <div class="layui-input-inline" style="width: 112px;">
            <select lay-filter="batch">
                <option>批量操作</option>
                <option uri="{$js_global_var['module']}/{$js_global_var['controller']}/edit" switch_type="popup_frame">编辑</option>
                <option uri="{$js_global_var['module']}/{$js_global_var['controller']}/set_status" field="is_del" field_val="1" switch_type="confirm_action">放入回收站</option>
                <option uri="{$js_global_var['module']}/{$js_global_var['controller']}/set_status" field="is_del" field_val="0" switch_type="confirm_action">恢复数据</option>
                <option uri="{$js_global_var['module']}/{$js_global_var['controller']}/del" switch_type="confirm_action">彻底删除</option>
            </select>
        </div>
        <button class="layui-btn layui-btn-warm layui-btn-sm popup-frame" data-open="{:url($js_global_var['module'].'/'.$js_global_var['controller'].'/add')}"><i class="layui-icon">&#xe654;</i>添加</button>
        <button class="layui-btn layui-btn-normal layui-btn-sm show-hidden-search-form"><i class="layui-icon">&#xe615;</i>筛选</button>
    </div>
</script>