{extend name="admin@public/layout/main"}

{block name="tabs"}
<div class="layui-card">
<div class="layui-tab layui-tab-brief">
<ul class="layui-tab-title">
    <li class="layui-this" click_search="true" field="status" field_val="">全部</li>
    <li click_search="true" field="status" field_val="1">未使用</li>
	<li click_search="true" field="status" field_val="2">已使用</li>
	<li click_search="true" field="status" field_val="3">已过期</li>
</ul>
</div>
</div>
{/block}

{block name="search_form"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <div class="layui-form layui-card-header" style="height:auto;padding:0;">
        <form class="layui-form-item layui-form-pane" style="margin-bottom:0px;">
            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="模板ID">模板ID</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="template_id" name="search_param[template_id][value]" id="template_id" placeholder="请输入模板ID" class="layui-input">
                    <input type="hidden" name="search_param[template_id][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="事件名称">事件名称</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="event" name="search_param[event][value]" id="event" placeholder="请输入事件名称" class="layui-input">
                    <input type="hidden" name="search_param[event][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="邮件内容参数">邮件内容参数</label>
                <div class="layui-input-inline">
                    <input type="text" id="params" name="search_param[params][value]" placeholder="请输入邮件内容参数" class="layui-input">
                            <input type="hidden" name="search_param[params][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="邮件内容">邮件内容</label>
                <div class="layui-input-inline">
                    <input type="text" id="content" name="search_param[content][value]" placeholder="请输入邮件内容" class="layui-input">
                            <input type="hidden" name="search_param[content][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="发件人邮箱">发件人邮箱</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="from" name="search_param[from][value]" id="from" placeholder="请输入发件人邮箱" class="layui-input">
                    <input type="hidden" name="search_param[from][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="收件人邮箱">收件人邮箱</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="to" name="search_param[to][value]" id="to" placeholder="请输入收件人邮箱" class="layui-input">
                    <input type="hidden" name="search_param[to][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="状态">状态</label>
                <div class="layui-input-inline">
                    <select id="status" name="search_param[status][value]" placeholder="请输入状态">
        				<option value=""></option>
						<option value="1">未使用</option>
						<option value="2">已使用</option>
						<option value="3">已过期</option>
                    </select>
                    <input type="hidden" name="search_param[status][condition]" value="=">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="过期时间，0表示永不过期">过期时间，0表示永不过期</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="expire_time" name="search_param[expire_time][value]" id="expire_time" placeholder="请输入过期时间，0表示永不过期" class="layui-input">
                    <input type="hidden" name="search_param[expire_time][condition]" value="LIKE">
                </div>
            </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
        </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/email.js" charset="utf-8"></script>
{/block}

{block name="js_template"}
{include file="public/js_tpl/toolbar_tpl"}
{include file="public/js_tpl/operation_tpl"}
{/block}