{extend name="admin@public/layout/popup"}

{block name="body"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <div class="layui-form layui-card-header" style="height:auto;padding:0;">
        <form class="layui-form-item layui-form-pane" style="margin-bottom:0px;">
            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="模板ID">模板ID</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="template_id" name="search_param[template_id][value]" id="template_id" placeholder="请输入模板ID" class="layui-input">
                    <input type="hidden" name="search_param[template_id][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="事件名称">事件名称</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="event" name="search_param[event][value]" id="event" placeholder="请输入事件名称" class="layui-input">
                    <input type="hidden" name="search_param[event][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="邮件内容参数">邮件内容参数</label>
                <div class="layui-input-inline">
                    <input type="text" id="params" name="search_param[params][value]" placeholder="请输入邮件内容参数" class="layui-input">
                            <input type="hidden" name="search_param[params][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="邮件内容">邮件内容</label>
                <div class="layui-input-inline">
                    <input type="text" id="content" name="search_param[content][value]" placeholder="请输入邮件内容" class="layui-input">
                            <input type="hidden" name="search_param[content][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="发件人邮箱">发件人邮箱</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="from" name="search_param[from][value]" id="from" placeholder="请输入发件人邮箱" class="layui-input">
                    <input type="hidden" name="search_param[from][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="收件人邮箱">收件人邮箱</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="to" name="search_param[to][value]" id="to" placeholder="请输入收件人邮箱" class="layui-input">
                    <input type="hidden" name="search_param[to][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="状态">状态</label>
                <div class="layui-input-inline">
                    <select id="status" name="search_param[status][value]" placeholder="请输入状态">
        				<option value=""></option>
						<option value="1">未使用</option>
						<option value="2">已使用</option>
						<option value="3">已过期</option>
                    </select>
                    <input type="hidden" name="search_param[status][condition]" value="=">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="过期时间，0表示永不过期">过期时间，0表示永不过期</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="expire_time" name="search_param[expire_time][value]" id="expire_time" placeholder="请输入过期时间，0表示永不过期" class="layui-input">
                    <input type="hidden" name="search_param[expire_time][condition]" value="LIKE">
                </div>
            </div>

        <div class="layui-inline" style="padding-left: 10px;">
            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
        </div>
        </form>
    </div>
</div>
<table class="laytp-table layui-hide-sm" lay-filter="default"></table>
{/block}

{block name="script"}
<script>
layui.use(['layTp'],function() {
    const
        func_controller = {}
        ,layTp = layui.layTp
        ,$ = layui.jquery
    ;

    //批量操作渲染
    layui.dropdown.render({
        elem: '.action-more',
        options: [
            {
                action: "renew"
                ,title: "还原"
                ,icon: "layui-icon-list"
                ,uri: layTp.facade.url(module + "/" + controller + "/renew")
                ,need_refresh:true
                ,switch_type: "confirm_action"
            }
            ,{
                action: 'true_del',
                title: '彻底删除'
                ,icon: "layui-icon-delete"
                ,uri: layTp.facade.url(module + "/" + controller + "/true_del")
                ,need_refresh:true
                ,switch_type: "confirm_action"
            }
        ]
    });

    //表格渲染
    func_controller.table_render = function (where) {
        layui.table.render({
            elem: '.layui-hide-sm'
            , id: table_id
            , url: window.location.href
            , toolbar: '#default_toolbar'
            , where: where
            , even: true
            , method: 'GET'
            , cellMinWidth: 80
            , page: true
            , cols: [[
                {type:'checkbox'}
				,{field:'id',title:'ID',align:'center',width:80}
				,{field:'template_id',title:'模板ID',align:'center'}
				,{field:'event',title:'事件名称',align:'center'}
				,{field:'params',title:'邮件内容参数',align:'center'}
				,{field:'content',title:'邮件内容',align:'center'}
				,{field:'from',title:'发件人邮箱',align:'center'}
				,{field:'to',title:'收件人邮箱',align:'center'}
				,{field:'status',title:'状态',align:'center',templet:function(d){
					return layTp.facade.formatter.status('status',d.status,{"1":"未使用","2":"已使用","3":"已过期"});
				}}
				,{field:'expire_time',title:'过期时间，0表示永不过期',align:'center'}
				//,{field:'create_time',title:'创建时间',align:'center'}
				//,{field:'update_time',title:'更新时间',align:'center'}
				//,{field:'delete_time',title:'删除时间',align:'center'}
				,{field:'operation',title:'操作',align:'center',toolbar:'#operation',width:100,fixed:'right'}
            ]]
        });

        //监听默认工具条
        layui.table.on('tool(default)', function(obj){
            if(default_table_tool.indexOf(obj.event) != -1){
                layTp.facade.table_tool(obj);
            }else{
                //新增的其他操作按钮在这里来写
                //switch(obj.event){
                //    case '':
                //
                //        break;
                //}
            }
        });
    }

    func_controller.table_render();

    window.func_controller = func_controller;
});
</script>
{/block}

{block name="js_template"}
<script type="text/html" id="operation">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-list" lay-event="renew" title="还原" layer-tips="还原"> </a>
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-delete" lay-event="true_del" title="彻底删除" layer-tips="彻底删除" colour="#f51c1c"> </a>
    </div>
</script>
<script type="text/html" id="default_toolbar">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-list action-more">&nbsp;批量操作</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm show-hidden-search-form layui-icon layui-icon-search">&nbsp;筛选</a>
        </div>
    </div>
</script>
{/block}