{extend name="admin@public/layout/popup_form"}

{block name="form"}
<input type="hidden" name="name" id="name" value="{$name}" />
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="laytp">生 成</button>
        <a class="layui-btn layui-btn-primary" href="javascript:void(0);" onclick="showApi();">查 看</a>
    </div>
</div>
{/block}

{block name="form_footer"}{/block}

{block name="script"}
<script type="text/javascript">
    function showApi(){
        window.open('/addons/' + $('#name').val() + '/api.html');
    }
</script>
{/block}