{extend name="admin@public/layout/main"}

{block name="tabs"}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this" click_search="true" field="category_id" field_val="">全部</li>
        {foreach $category as $k=>$v}
        <li click_search="true" field="category_id" field_val="{$v['id']}">{$v['name']}</li>
        {/foreach}
    </ul>
</div>
{/block}

{block name="search_form"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <div class="layui-form layui-card-header" style="height:auto;padding:0;">
        <form class="layui-form-item layui-form-pane" style="margin-bottom:0px;">
            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="年级">分类</label>
                <div class="layui-input-inline">
                    <select id="category_id" name="category_id" placeholder="请选择分类">
                        <option value=""></option>
                        {foreach $category as $k=>$v}
                        <option value="{$v['id']}">{$v['name']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="年级">付费状态</label>
                <div class="layui-input-inline">
                    <select id="charge_status" name="charge_status" placeholder="请选择付费状态">
                        <option value=""></option>
                        <option value="0">免费</option>
                        <option value="1">付费</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 10px;">
                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="js_template"}
<script type="text/html" id="default_toolbar">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-download-circle">&nbsp;离线安装</a>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-list active charge_status" click_search="true" field="charge_status" field_val="">&nbsp;全部</a>
            <a id="charge_status_all" href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-more-vertical charge_status" click_search="true" field="charge_status" field_val="0">&nbsp;免费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-rmb charge_status" click_search="true" field="charge_status" field_val="1">&nbsp;付费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-home">&nbsp;本地插件</a>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-username">&nbsp;会员信息</a>
        </div>
    </div>
</script>

<script type="text/html" id="template_default_toolbar">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-download-circle">&nbsp;离线安装</a>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-list {{#  if(d.charge_status === ''){ }}active{{#  } }} charge_status" field="charge_status" field_val="">&nbsp;全部</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-more-vertical {{#  if(d.charge_status === 0){ }}active{{#  } }} charge_status" field="charge_status" field_val="0">&nbsp;免费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-rmb {{#  if(d.charge_status === 1){ }}active{{#  } }} charge_status" field="charge_status" field_val="1">&nbsp;付费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-home">&nbsp;本地插件</a>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-username">&nbsp;会员信息</a>
        </div>
    </div>
</script>

<script type="text/html" id="operation">
    {{# if(!d.addon_exist){ }}
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-sm layui-icon layui-icon-triangle-d version_list_{{ d.id }}" lay-event="version_list" title="查看版本列表" layer-tips="查看版本列表" colour="#009688"> </a>
        <a class="layui-btn layui-btn-sm layui-icon layui-icon-download-circle" lay-event="install" title="安装最新版本" layer-tips="安装最新版本" colour="#009688"> 安装最新版本</a>
<!--        <a class="layui-btn layui-btn-sm layui-btn-normal layui-icon layui-icon-set" lay-event="config" title="配置" layer-tips="配置" colour="#369"> 配置</a>-->
    </div>
    {{# } }}
    {{# if(d.addon_exist){ }}
    <div class="layui-btn-group">
<!--        <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="demo" title="演示" layer-tips="演示"> 演示</a>-->
        <a class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-close-fill" lay-event="uninstall" title="卸载" layer-tips="卸载" colour="#f51c1c"> 卸载</a>
    </div>
    {{# } }}
</script>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/addons.js" charset="utf-8"></script>
{/block}