{extend name="admin@public/layout/main"}

{block name="tabs"}
<div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this" click_search="true" field="category_id" field_val="">全部</li>
            {foreach $category as $k=>$v}
            <li click_search="true" field="category_id" field_val="{$v['id']}">{$v['name']}</li>
            {/foreach}
        </ul>
    </div>
</div>
{/block}

{block name="search_form"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <div class="layui-form layui-card-header" style="height:auto;padding:0;">
        <form class="layui-form-item layui-form-pane" style="margin-bottom:0px;">
            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="年级">分类</label>
                <div class="layui-input-inline">
                    <select id="category_id" name="category_id" placeholder="请选择分类">
                        <option value=""></option>
                        {foreach $category as $k=>$v}
                        <option value="{$v['id']}">{$v['name']}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="年级">付费状态</label>
                <div class="layui-input-inline">
                    <select id="buy_type" name="buy_type" placeholder="请选择购买方式">
                        <option value=""></option>
                        <option value="1">免费</option>
                        <option value="2">付费</option>
                        <option value="3">积分</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 10px;">
                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="js_template"}
<script type="text/html" id="default_toolbar">
        <div class="layui-btn-group fl">
            <button href="javascript:void(0);" class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-download-circle"
                    upload="true" id="off_line_install" single_multi="single" accept="file" upload_url="{:url('admin/addons/off_line_install')}">&nbsp;离线安装</button>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-list active buy_type" click_search="true" field="buy_type" field_val="">&nbsp;全部</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-more-vertical buy_type" click_search="true" field="buy_type" field_val="1">&nbsp;免费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-rmb buy_type" click_search="true" field="buy_type" field_val="2">&nbsp;付费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-star buy_type" click_search="true" field="buy_type" field_val="3">&nbsp;积分</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-home">&nbsp;本地插件</a>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-username">&nbsp;会员信息</a>
        </div>
</script>

<script type="text/html" id="template_default_toolbar">
        <div class="layui-btn-group fl">
            <button href="javascript:void(0);" class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-download-circle"
                    upload="true" id="off_line_install" single_multi="single" accept="file" upload_url="{:url('admin/addons/off_line_install')}">&nbsp;离线安装</button>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-list {{#  if(d.buy_type === ''){ }}active{{#  } }} buy_type" field="buy_type" field_val="">&nbsp;全部</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-more-vertical {{#  if(d.buy_type === 1){ }}active{{#  } }} buy_type" field="buy_type" field_val="1">&nbsp;免费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-rmb {{#  if(d.buy_type === 2){ }}active{{#  } }} buy_type" field="buy_type" field_val="2">&nbsp;付费</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-star {{#  if(d.buy_type === 3){ }}active{{#  } }} buy_type" click_search="true" field="buy_type" field_val="3">&nbsp;积分</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-home">&nbsp;本地插件</a>
        </div>
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-username">&nbsp;会员信息</a>
        </div>
</script>

<script type="text/html" id="operation">
    {{# if(!d.addon_exist){ }}
    <div class="layui-btn-group">
        {{# if(d.config_items){ }}
        <a class="layui-btn layui-btn-xs layui-btn-normal layui-icon layui-icon-set" lay-event="config" title="配置" layer-tips="配置" colour="#369"> 配置</a>
        {{# } }}
    </div>
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs layui-icon layui-icon-triangle-d version_list_{{ d.id }}" lay-event="version_list" title="查看版本列表" layer-tips="查看版本列表" colour="#009688"> </a>
        <a class="layui-btn layui-btn-xs layui-icon" lay-event="install" title="安装最新版本" layer-tips="安装最新版本" colour="#009688"> 安装</a>
    </div>
    {{# } }}
    {{# if(d.addon_exist){ }}
    <div class="layui-btn-group">
<!--        <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="demo" title="演示" layer-tips="演示"> 演示</a>-->
        <a class="layui-btn layui-btn-xs layui-btn-sm layui-icon layui-icon-close-fill" lay-event="uninstall" title="卸载" layer-tips="卸载" colour="#f51c1c"> 卸载</a>
    </div>
    {{# } }}
</script>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/addons.js" charset="utf-8"></script>
{/block}