<script type="text/html" id="operation">
    {{# if(!d.addon_exist){ }}
    <div class="layui-btn-group">
        {{# if(d.config_items){ }}
        <a class="layui-btn layui-btn-xs layui-btn-normal layui-icon layui-icon-set" lay-event="config" title="配置" layer-tips="配置" colour="#369"> 配置</a>
        {{# } }}
    </div>
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs layui-icon layui-icon-triangle-d version_list_{{ d.id }}" lay-event="version_list" title="查看版本列表" layer-tips="查看版本列表" colour="#009688"> </a>
        <a class="layui-btn layui-btn-xs layui-icon" lay-event="install" title="安装最新版本" layer-tips="安装最新版本" colour="#009688"> 安装最新版本</a>
    </div>
    {{# } }}
    {{# if(d.addon_exist){ }}
    <div class="layui-btn-group">
        {{# if(d.frontend_url){ }}
        <a class="layui-btn layui-btn-sm layui-btn-primary layui-icon layui-icon-home" href="{{ d.frontend_url }}" target="_blank" title="进入前台" layer-tips="进入前台"> 前台</a>
        {{# } }}
        {{# if(d.backend_url){ }}
        <a class="layui-btn layui-btn-sm layui-btn-normal layui-icon layui-icon-console" href="{{ d.backend_url }}" target="_blank" title="进入后台" layer-tips="进入后台" colour="#f51c1c"> 后台</a>
        {{# } }}
        {{# if(d.config){ }}
        <a class="layui-btn layui-btn-sm layui-icon layui-icon-set" lay-event="config" title="配置" layer-tips="配置" colour="#f51c1c"> 配置</a>
        {{# } }}
        <a class="layui-btn layui-btn-sm layui-btn-danger layui-icon layui-icon-close-fill" lay-event="uninstall" title="卸载" layer-tips="卸载" colour="#f51c1c"> 卸载</a>
    </div>
    {{# } }}
</script>