<script type="text/html" id="top_toolbar">
    <div class="layui-btn-group fl">
        <button href="javascript:void(0);" class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-download-circle"
                upload="true" id="off_line_install" single_multi="single" accept="file" upload_url="{:url('admin/addons/off_line_install')}">&nbsp;离线安装</button>
    </div>
    <div class="layui-btn-group fl">
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-list active charge_type" field="charge_type" field_val="">&nbsp;全部</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-more-vertical charge_type" field="charge_type" field_val="1">&nbsp;免费</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-rmb charge_type" field="charge_type" field_val="2">&nbsp;付费</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-star charge_type" field="charge_type" field_val="3">&nbsp;积分</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-home charge_type" field="charge_type" field_val="4">&nbsp;本地插件</a>
    </div>
    <div class="layui-btn-group fl">
        <a href="javascript:void(0);" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-username popup-frame"
            data-name="会员信息" data-open="{:url('admin/addons/user')}"
            data-width="60%" data-height="55%">&nbsp;会员信息</a>
    </div>
</script>

<script type="text/html" id="top_toolbar_template">
    <div class="layui-btn-group fl">
        <button href="javascript:void(0);" class="layui-btn layui-btn-danger layui-btn-sm layui-icon layui-icon-download-circle"
                upload="true" id="off_line_install" single_multi="single" accept="file" upload_url="{:url('admin/addons/off_line_install')}">&nbsp;离线安装</button>
    </div>
    <div class="layui-btn-group fl">
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-list {{#  if(d.charge_type === ''){ }}active{{#  } }} charge_type" field="charge_type" field_val="">&nbsp;全部</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-more-vertical {{#  if(d.charge_type === 1){ }}active{{#  } }} charge_type" field="charge_type" field_val="1">&nbsp;免费</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-rmb {{#  if(d.charge_type === 2){ }}active{{#  } }} charge_type" field="charge_type" field_val="2">&nbsp;付费</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-star {{#  if(d.charge_type === 3){ }}active{{#  } }} charge_type" field="charge_type" field_val="3">&nbsp;积分</a>
        <a href="javascript:void(0);" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-home {{#  if(d.charge_type === 4){ }}active{{#  } }} charge_type" field="charge_type" field_val="4">&nbsp;本地插件</a>
    </div>
    <div class="layui-btn-group fl">
        <a href="javascript:void(0);" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-username
                ">&nbsp;会员信息</a>
    </div>
</script>