<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LayTp</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    {block name="style"}
    <link rel="stylesheet" href="__STATIC__/library/layui/css/layui.css" media="all">
    {/block}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {block name="menus"}
    {include file="public/top"}
    {/block}

    <div class="layui-body" style="position: static">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            {block name="main"}
            <div class="layui-card-body">

                <table class="layui-table" lay-even="" lay-skin="line">
                    <colgroup>
                        <col width="20%">
                        <col width="30%">
                        <col width="20%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-left" colspan="2">系统信息</th>
                        <th class="text-left" colspan="2">产品团队</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="max-width:200px" class="nowrap">LayUi 版本</td>
                        <td class="nowrap">2.4.2</td>
                        <td style="max-width:200px" class="nowrap">产品名称</td>
                        <td class="nowrap">LayTp后台开发框架</td>
                    </tr>
                    <tr>
                        <td class="nowrap">ThinkPHP 版本</td>
                        <td class="nowrap">5.1.24</td>
                        <td class="nowrap">BUG反馈</td>
                        <td class="nowrap">
                            <a target="_blank" href="https://gitee.com/junstar/laytp/issues">
                                https://gitee.com/junstar/laytp/issues
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="nowrap">官方QQ群</td>
                        <td class="nowrap">
                            <a href="http://shang.qq.com/wpa/qunwpa?idkey=feb89577b675eaea3b45e4cbc86f38a1024ef759430b4b0bc2ae3d7fce110892">
                                <img src="//pub.idqqimg.com/wpa/images/group.png" style="height:18px;width:auto" target="_blank">
                            </a>
                        </td>
                        <td class="nowrap">产品DEMO体验</td>
                        <td class="nowrap">
                            <a target="_blank" href="http://demo.laytp.com">http://demo.laytp.com</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {/block}
        </div>
    </div>


    {block name="footer"}
    <div class="layui-footer" style="left:0">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
    {/block}
</div>
{block name="script"}
<script src="__STATIC__/library/layui/layui.js" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
{/block}
</body>
</html>