{include file="public/top"}

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            {foreach $left_menu as $sv}
            <li class="layui-nav-item {if $sv['selected']}layui-nav-itemed{/if}">
                {if $sv['child']}
                <a href="javascript:void(0);"><i class="{$sv['icon']}"></i> {$sv['name']}</a>
                {else}
                <a href="{:url($sv['rule'])}" {if $sv['selected']}class="layui-this"{/if}><i class="{$sv['icon']}"></i> {$sv['name']}</a>
                {/if}
                {if $sv['child']}
                <dl class="layui-nav-child">
                    {foreach $sv['child'] as $tv}
                    <dd {if $tv['selected']}class="layui-bg-green"{/if}><a href="{:url($tv['rule'])}">&nbsp;&nbsp;<i class="{$tv['icon']}"></i> {$tv['name']}</a></dd>
                    {/foreach}
                </dl>
                {/if}
            </li>
            {/foreach}
        </ul>
    </div>
</div>