<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>JunAdmin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    {block name="style"}
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
    {/block}
    {include file="public/js_global_var"}
</head>
<body>
<div style="padding: 15px 50px 55px 15px;">
{block name="body"}
主题内容
{/block}
</div>
{block name="script"}
<script src="__STATIC__/layui/layui.all.js" charset="utf-8"></script>
<script src="__ADMIN__/facade.js" charset="utf-8"></script>
<script src="__ADMIN__/init.js" charset="utf-8"></script>
{/block}
</body>
</html>