{extend name="admin@public/layout/popup"}

{block name="body"}
<style>
    /* 表格里面使用下拉框对样式的修改 */
    .layui-table-cell{
        height: auto;
    }
    .layui-form-select dl{
        position:static;
    }
    .layui-input{
        height:30px;
    }
</style>
<table class="laytp-table layui-hide-sm"></table>

{include file="autocreate/curd/set_fields_operation_tpl" /}
{include file="autocreate/curd/set_fields/field/additional_tpl" /}
{include file="autocreate/curd/set_fields/field/type_tpl" /}
{include file="autocreate/curd/set_fields/field/field_val_tpl" /}
{include file="autocreate/curd/set_fields/table/type_tpl" /}
{include file="autocreate/curd/set_fields/table/width_tpl" /}
{include file="autocreate/curd/set_fields/table/align_tpl" /}
{include file="autocreate/curd/set_fields/table/additional_tpl" /}
{include file="autocreate/curd/set_fields/form/additional_tpl" /}
{include file="autocreate/curd/set_fields/form/type_tpl" /}
{/block}

{block name="script"}
<script src="__ADMIN_JS__/autocreate/curd/set_fields.js" charset="utf-8"></script>
{/block}