<script type="text/html" id="curd_toolbar">
    <div class="layui-btn-container">
        <!--<button class="layui-btn layui-btn-sm popup-frame" data-open="{:url($js_global_var['module'].'/'.$js_global_var['controller'].'/add')}"><i class="layui-icon">&#xe654;</i>添加</button>-->
        <button class="layui-btn layui-btn-sm popup-frame"
                data-name="导入"
                data-open="{:url($js_global_var['module'].'/'.$js_global_var['controller'].'/import')}">
            <i class="layui-icon">&#xe654;</i>导入
        </button>
    </div>
</script>