{extend name="admin@public/detail"}

{block name="body"}
<table class="layui-table" lay-even="" lay-skin="row">
    <colgroup>
        <col width="20%">
        <col width="80%">
    </colgroup>
    <thead>
    <tr>
        <th>管理员姓名</th>
        <th>{$name}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>操作页面</td>
        <td>{$url}</td>
    </tr>
    <tr>
        <td>日志标题</td>
        <td>{$title}</td>
    </tr>
    <tr>
        <td>内容</td>
        <td>{$content}</td>
    </tr>
    <tr>
        <td>IP</td>
        <td>{$ip}</td>
    </tr>
    <tr>
        <td>浏览器</td>
        <td>{$user_agent}</td>
    </tr>
    <tr>
        <td>操作时间</td>
        <td>{$create_time}</td>
    </tr>
    </tbody>
</table>
{/block}