{extend name="admin@public/main"}

{block name="search_form"}
<div class="layui-form layui-card-header" id="search-form" style="height:auto;padding:10px 0 0 0;display:none;">
<form class="layui-form-item layui-form-pane">
    <div class="layui-inline" style="padding-left: 35px;">
        <label class="layui-form-label" title="管理员ID">管理员姓名</label>
        <div class="layui-input-inline">
            <select name="search_param[admin_id][value]" id="admin_id"
                xm-select="search_admin_id"
                xm-select-search="{:url('admin/auth.user/index')}"
                xm-select-search-field="name"
                xm-select-search-show-field="name"
                xm-select-search-condition="LIKE"
                xm-select-height="36px"
                >
            </select>
            <input type="hidden" name="search_param[admin_id][condition]" value="IN">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 35px;">
        <label class="layui-form-label" title="操作页面">操作页面</label>
        <div class="layui-input-inline">
            <input type="text" name="search_param[url][value]" placeholder="请输入操作页面" class="layui-input">
            <input type="hidden" name="search_param[url][condition]" value="LIKE">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 35px;">
        <label class="layui-form-label" title="日志标题">菜单位置</label>
        <div class="layui-input-inline">
            <input type="text" name="search_param[title][value]" placeholder="请输入菜单位置" class="layui-input">
            <input type="hidden" name="search_param[title][condition]" value="LIKE">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 35px;">
        <label class="layui-form-label" title="内容">参数</label>
        <div class="layui-input-inline">
            <input type="text" name="search_param[content][value]" placeholder="请输入参数" class="layui-input">
            <input type="hidden" name="search_param[content][condition]" value="LIKE">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 35px;">
        <label class="layui-form-label" title="IP">IP</label>
        <div class="layui-input-inline">
            <input type="text" name="search_param[ip][value]" placeholder="请输入IP" class="layui-input">
            <input type="hidden" name="search_param[ip][condition]" value="LIKE">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 35px;">
        <label class="layui-form-label" title="User-Agent">浏览器</label>
        <div class="layui-input-inline">
            <input type="text" name="search_param[user_agent][value]" placeholder="请输入User-Agent" class="layui-input">
            <input type="hidden" name="search_param[user_agent][condition]" value="LIKE">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 35px;">
        <label class="layui-form-label" title="操作时间">操作时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="search_param[create_time][value]" id="create_time" laydate="true" laydate_type="datetime" laydate_range="true" placeholder="请选择时间">
<input type="hidden" name="search_param[create_time][condition]" value="BETWEEN">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 35px;">
        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="*"><i class="layui-icon"></i> 搜 索</button>
    </div>
</form>
</div>
{/block}

{block name="script"}
{__block__}
<script src="__ADMIN_JS__/admin/log.js" charset="utf-8"></script>
{%jsParam%}
{/block}

{block name="js_template"}
{include file="admin/log/toolbar_tpl"}
{include file="admin/log/operation_tpl"}
{/block}