<link rel="stylesheet" href="__STATIC__/library/layui/css/layui.css">
<link rel="stylesheet" href="__STATIC__/admin/css/theme.css">
<link rel="stylesheet" href="__STATIC__/admin/css/style.css" media="all">
<link rel="stylesheet" href="__STATIC__/admin/css/prettify.css" media="all">
<link rel="stylesheet" href="__STATIC__/library/layui/css/modules/formSelects.css" media="all">
<link rel="stylesheet" href="__STATIC__/library/layui/css/modules/selectPage.css" media="all">
<link rel="stylesheet" href="__STATIC__/library/layui/css/modules/dropdown.css" media="all">
