<script>
    const __URL__ = "/";
    const _ADMIN_ = "__ADMIN__";
    const module = "{$js_global_var.module}";
    const controller = "{$js_global_var.controller}";
    const js_controller = "{$js_global_var.js_controller}";
    const action = "{$js_global_var.action}";
    const search_param = {};
    const default_table_tool = ['edit','del','renew','true_del'];//layui表格列表操作列默认的操作按钮
    const table_id = "{$js_global_var.table_id}";
    const is_super_manager = ({$laytp_admin_user.is_super_manager} === 1) ? true : false;
    const rule_list = {:json_encode($rule_list)};
    const role_ids = {:json_encode($role_ids)};
</script>