<div class="layui-header" style="z-index:99999!important;">
    <div class="fl header-logo">{$Think.config.laytp.basic.site_name}</div>
    <ul class="layui-nav fl nobg main-nav">
        {foreach $first_menus as $k=>$menu}
        <li class="layui-nav-item {if $k==0}layui-this{/if}">
            <a href="javascript:;">
                <i class="{$menu.icon}"></i> {$menu.name}
            </a>
        </li>
        {/foreach}
    </ul>
    <ul class="layui-nav layui-layout-right head-info">
        {if $laytp_admin_user['is_super_manager']}
        <li class="layui-nav-item">
            <a href="javascript:void(0);" class="aicon ai-qingchu" id="laytp_clear_cache" title="清缓存"></a>
        </li>
        {/if}
        <li class="layui-nav-item">
            <a href="javascript:void(0);" class="aicon ai-suo" id="lock_screen" title="锁屏"></a>
        </li>
        <li class="layui-nav-item" style="padding: 0 15px">
            <a href="javascript:void(0);">
                <img src="{$laytp_admin_user.avatar}" class="layui-nav-img">
                {$laytp_admin_user.nickname}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="{:url('admin/general/profile')}">个人设置</a></dd>
                <dd><a href="{:url('admin/auth.login/logout')}">安全退出</a></dd>
            </dl>
        </li>
    </ul>
</div>

<div class="layui-side layui-bg-cyan">
    <div id="navBarId" class="layui-side-scroll"></div>
</div>

<style>
    #navBarId dl{
        background-color: var(--laytp-layui-nav-child-a-bg)!important;
    }
</style>

<script>
    // 导航菜单的间隔像素
    let menuCell = 20;
    let menu_tree = '{:json_encode($menu_tree,JSON_UNESCAPED_UNICODE)}';
    const menu_json = JSON.parse(menu_tree);
    let itemed;
    let athis;
    let k_val = 0;
    let default_menu;
    let ref = {$ref};
    layui.use(['layTp'], function(){
        let element = layui.laytp_element;
        let $ = layui.jquery;
        //取出子菜单
        let data = menu_json[0].childMenus;
        createMenu(data,false);
        if(ref == 1){
            if(default_menu.rule != target_url){
                $('#layTpIframe').attr('src',__URL__ + target_url);
                editHistory(default_menu.name,__URL__ + target_url + '?ref=' + default_menu.id);
            }else{
                $('#layTpIframe').attr('src',__URL__ + default_menu.rule);
                editHistory(default_menu.name,__URL__ + default_menu.rule + '?ref=' + default_menu.id);
            }
        }else{
            $('#layTpIframe').attr('src',__URL__ + default_menu.rule);
            editHistory(default_menu.name,__URL__ + default_menu.rule + '?ref=' + default_menu.id);
        }

        element.init();
    });

    //生成菜单
    function createMenu(data,unchecked){
        console.log('createMenu');
        let liStr= "";
        // 遍历生成菜单
        for( let i = 0; i < data.length; i++ ){
            itemed = (i==0) ? ' layui-nav-itemed' : '';
            athis = (i==0) ? ' layui-this' : '';
            // 判断是否存在子菜单
            if(data[i].childMenus!=null && data[i].childMenus.length>0){
                liStr+="<li class=\"layui-nav-item"+itemed+"\"><a href=\"javascript:;\"><i class='layui-icon "+data[i].icon+"'></i> "+data[i].name+"</a>\n"+
                    "<dl class=\"layui-nav-child\">\n";
                // 遍历获取子菜单
                for( let k = 0; k < data[i].childMenus.length; k++ ){
                    k_val = k_val + k;
                    if(k_val == 0){
                        default_menu = data[i].childMenus[k];
                    }
                    liStr+=getChildMenu(data[i].childMenus[k],0,unchecked);
                }
                liStr+="</dl></li>";
            }else{
                if(!unchecked){
                    // for(key in ){
                    //
                    // }
                }
                liStr+="<li class=\"layui-nav-item\"><a href=\"javascript:;\" rule=\""+data[i].rule+"\" menu_id='"+data[i].id+"'><i class='layui-icon "+data[i].icon+"'></i> "+data[i].name+"</a></li>";
            }
        }
        $("#navBarId").html("<ul class=\"layui-nav layui-nav-tree\" lay-filter=\"test\">\n"+liStr+"</ul>");
        return true;
    }

    //修改浏览器地址栏地址和标题栏标题
    function editHistory(title,url){
        var stateObject = {};
        var title = title;
        var newUrl = url;
        history.replaceState(stateObject,title,newUrl);
    }

    //点击菜单并且右侧iframe跳转页面
    function click_menu_redirect(t){
        $('#layTpIframe').attr('src',__URL__ + t.attr('rule'));
        editHistory(default_menu.name,__URL__ + t.attr('rule') + '?ref=' + t.attr('menu_id'));
        $.post(__URL__ + 'admin/ajax/get_crumbs',{menu_id:t.attr('menu_id')},function(res){
            if(res.code==1){
                let html = '';
                for(let key in res.data){
                    html += '<li>' + res.data[key] + '</li>';
                }
                $('.bread-crumbs').html(html);
            }
        });
    }

    // 递归生成子菜单
    function getChildMenu(subMenu,num,unchecked) {
        let sel_menu = unchecked ? false : true;
        num++;
        let subStr = "";
        itemed = (k_val==0) ? ' layui-nav-itemed' : '';
        athis = (k_val==0) ? ' layui-this' : '';
        if(subMenu.childMenus!=null && subMenu.childMenus.length>0){
            subStr+="<dd><ul><li class=\"layui-nav-item"+itemed+"\" ><a style=\"margin-Left:"+num*menuCell+"px\" class=\"\" href=\"javascript:;\"><i class='layui-icon' >&#xe653;</i> "+subMenu.name+"</a>" +
                "<dl class=\"layui-nav-child\">\n";
            for( let j = 0; j <subMenu.childMenus.length; j++){
                k_val = k_val + j;
                if(k_val == 0){
                    default_menu = menu_json[0].childMenus[k_val];
                }
                subStr+=getChildMenu(subMenu.childMenus[j],num);
            }
            subStr+="</dl></li></ul></dd>";
        }else{
            if(sel_menu){
                subStr+="<dd class='"+athis+"'><a style=\"margin-Left:"+num*menuCell+"px\" href=\"javascript:;\" rule=\""+subMenu.rule+"\" menu_id='"+subMenu.id+"'><i class='layui-icon "+subMenu.icon+"'></i> "+subMenu.name+"</a></dd>";
            }else{
                subStr+="<dd><a style=\"margin-Left:"+num*menuCell+"px\" href=\"javascript:;\" rule=\""+subMenu.rule+"\" menu_id='"+subMenu.id+"'><i class='layui-icon "+subMenu.icon+"'></i> "+subMenu.name+"</a></dd>";
            }
        }
        return subStr;
    }

    function repeat(str, n){
        return new Array(n+1).join(str);
    }
</script>