{extend name="demo@public/main"}

{block name="main"}
<!-- 搜索表单部分 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="/store/goods/index.html?spm=m-32-33-34" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="" placeholder="请输入商品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="" placeholder="请输入商品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="" placeholder="请输入商品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="" placeholder="请输入商品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="" placeholder="请输入商品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="" placeholder="请输入商品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">发布时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id="create_at" value="" placeholder="请选择发布时间" class="layui-input" lay-key="8">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon"></i> 提 交</button>
    </div>
</form>

<div class="layui-btn-group">
    <button class="layui-btn"><i class="layui-icon">&#xe615;</i>隐藏搜索</button>
    <button class="layui-btn"><i class="layui-icon">&#xe654;</i>添加数据</button>
    <button class="layui-btn layui-btn-radius layui-btn-danger">导出Excel</button>
</div>


<!-- 表格部分 -->
<table class="layui-table" lay-even>
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>昵称</th>
        <th>加入时间</th>
        <th>签名</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>贤心</td>
        <td>2016-11-29</td>
        <td>人生就像是一场修行</td>
    </tr>
    <tr>
        <td>许闲心</td>
        <td>2016-11-28</td>
        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
    </tr>
    </tbody>
</table>
<!-- 分页部分 -->
<div class="layui-table-page">
    <div id="layui-table-page1">
        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-2">
            <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">
                <i class="layui-icon"></i>
            </a>
            <span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span>
            <a href="javascript:;" data-page="2">2</a>
            <a href="javascript:;" data-page="3">3</a>
            <span class="layui-laypage-spr">…</span>
            <a href="javascript:;" class="layui-laypage-last" title="尾页" data-page="34">34</a>
            <a href="javascript:;" class="layui-laypage-next" data-page="2">
                <i class="layui-icon"></i>
            </a>
            <span class="layui-laypage-skip">
                到第
                <input type="text" min="1" value="1" class="layui-input">
                页
                <button type="button" class="layui-laypage-btn">确定</button>
            </span>
            <span class="layui-laypage-count">共 1000 条</span>
            <span class="layui-laypage-limits">
                <select lay-ignore="">
                    <option value="10">10 条/页</option>
                    <option value="20">20 条/页</option>
                    <option value="30" selected="">30 条/页</option>
                    <option value="40">40 条/页</option>
                    <option value="50">50 条/页</option>
                    <option value="60">60 条/页</option>
                    <option value="70">70 条/页</option>
                    <option value="80">80 条/页</option>
                    <option value="90">90 条/页</option>
                </select>
            </span>
        </div>
    </div>
</div>
{/block}