{extend name="admin@public/layout/popup_form"}

{block name="form"}
    <div class="layui-form-item">
        <label class="layui-form-label" title="标题">标题 <text title="必填项" style="color:red;">*</text></label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[title]" id="title" placeholder="请输入标题" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="年级">年级</label>
        <div class="layui-input-block">
            <input type="radio" name="row[grade]" id="grade-1" value="1" title="一年级" checked="checked" />
			<input type="radio" name="row[grade]" id="grade-2" value="2" title="二年级"  />
			<input type="radio" name="row[grade]" id="grade-3" value="3" title="三年级"  />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="状态">状态</label>
        <div class="layui-input-block">
            <!-- 隐藏域设置开关未选中时需要传递的参数值 -->
            <input type="hidden" name="row[status]" id="status-0" value="0" />
            <input type="checkbox" name="row[status]" id="status-1" lay-skin="switch" lay-text="打开|关闭" value="1"  />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="英雄">英雄</label>
        <div class="layui-input-block">
            <select name="row[hero]" id="hero" lay-verify="" lay-verType="tips" placeholder="请选择英雄">
				<option value=""></option>
				<option value="0">秀逗魔法师</option>
				<option value="1">受折磨的灵魂</option>
				<option value="2">船长</option>
				<option value="3">虚空假面</option>
				<option value="4">幻影刺客</option>
				<option value="5">谜团</option>
				<option value="6">全能骑士</option>
				<option value="7">敌法师</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="爱好">爱好</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-0" value="0" title="游泳" checked="checked"/>
			<input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-1" value="1" title="下棋" checked="checked"/>
			<input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-2" value="2" title="游戏" checked="checked"/>
			<input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-3" value="3" title="乒乓球" />
			<input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-4" value="4" title="羽毛" />
			<input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-5" value="5" title="跑步" />
			<input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-6" value="6" title="爬山" />
			<input autocomplete="off" type="checkbox" name="row[hobby][]" id="hobby-7" value="7" title="美食" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="标志">标志</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[sign]" id="sign" placeholder="请输入标志" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="描述">描述</label>
        <div class="layui-input-block">
            <script editor="true" type="ueditor" id="description" name="row[description]" type="text/plain"></script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="所属分类（单选）">所属分类（单选）</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[category_id]" id="category_id" placeholder="请输入所属分类（单选）" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="所属分类（多选）">所属分类（多选）</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[category_ids]" id="category_ids" placeholder="请输入所属分类（多选）" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="单个图片">单个图片</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[single_img]" id="single_img" placeholder="请输入单个图片" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="多个图片">多个图片</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[multi_img]" id="input_multi_img" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="multi_img"
                            upload="true"
                            accept="images"
                            upload_dir="test"
                            single_multi="multi">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'multi_img','accept'=>'images','single_multi'=>'multi'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
				<div class="pic-more">
                    <ul class="pic-more-upload-list" id="preview_multi_img"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="视频文件地址">视频文件地址</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[video]" id="input_video" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="video"
                            upload="true"
                            accept="video"
                            upload_dir=""
                            single_multi="single">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'video','accept'=>'video','single_multi'=>'single'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
				<div class="pic-more">
                    <ul class="pic-more-upload-list" id="preview_video"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="音频文件地址">音频文件地址</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[audio]" id="audio" placeholder="请输入音频文件地址" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="任意文件地址">任意文件地址</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[file]" id="input_file" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="file"
                            upload="true"
                            accept="file"
                            upload_dir=""
                            single_multi="single">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'file','accept'=>'file','single_multi'=>'single'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="文章内容">文章内容</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[content]" id="content" placeholder="请输入文章内容" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="省份">省份</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[province_id]" id="province_id" placeholder="请输入省份" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="城市">城市</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[city_id]" id="city_id" placeholder="请输入城市" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="地区">地区</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[area_id]" id="area_id" placeholder="请输入地区" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="创建时间">创建时间</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="row[create_time]" id="create_time" autocomplete="off" laydate="true" laydate_type="datetime" placeholder="请选择时间">
        </div>
    </div>
{/block}