{extend name="admin@public/layout/popup_form"}

{block name="form"}
    <input type="hidden" name="row[__token__]" value="{$Request.token}" id="__token__" class="layui-input">
<input type="hidden" name="row[admin_id]" value="{$laytp_admin_user.id}" id="admin_id" placeholder="请输入管理员" class="layui-input">

    <div class="layui-form-item">
        <label class="layui-form-label" title="标题">标题</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[title]" id="title" placeholder="请输入标题" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="年级">年级</label>
        <div class="layui-input-block">
            <input type="radio" name="row[grade]" id="grade-1" value="1" title="一年级" checked="checked" />
			<input type="radio" name="row[grade]" id="grade-2" value="2" title="二年级"  />
			<input type="radio" name="row[grade]" id="grade-3" value="3" title="三年级"  />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="状态">状态</label>
        <div class="layui-input-block">
            <!-- 隐藏域设置开关未选中时需要传递的参数值 -->
            <input type="hidden" name="row[status]" id="status-0" value="0" />
            <input type="checkbox" name="row[status]" id="status-1" lay-skin="switch" lay-text="打开|关闭" value="1"  />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="英雄">英雄</label>
        <div class="layui-input-block">
            <select name="row[hero]" id="hero" lay-verify="" lay-verType="tips" placeholder="请选择英雄">
				<option value=""></option>
				<option value="0">秀逗魔法师</option>
				<option value="1">受折磨的灵魂</option>
				<option value="2">船长</option>
				<option value="3">虚空假面</option>
				<option value="4">幻影刺客</option>
				<option value="5">谜团</option>
				<option value="6">全能骑士</option>
				<option value="7">敌法师</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="爱好">爱好</label>
        <div class="layui-input-block">
            <div id="hobby" class="select_multi" options='{:getSelectMultiJsConst($const_hobby)}' selected_data="['0','1','2']" max="0" name="row[hobby]" verify=""></div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="标志">标志</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-0" value="0" title="热门" />
			<input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-1" value="1" title="首页" checked="checked"/>
			<input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-2" value="2" title="顶级分类推荐" checked="checked"/>
			<input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-3" value="3" title="二级分类推荐" />
			<input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-4" value="4" title="特定分类推荐" />
			<input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-5" value="5" title="轮播图" />
			<input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-6" value="6" title="置顶" />
			<input autocomplete="off" type="checkbox" name="row[sign][]" id="sign-7" value="7" title="新闻" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="描述">描述</label>
        <div class="layui-input-block">
            <textarea name="row[description]" id="description" placeholder="请输入描述" class="layui-textarea" lay-verify="" lay-verType="tips"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="所属分类（单选）">所属分类（单选）</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[category_id]" id="category_id" placeholder="请选择" class="layui-input selectPage"
                search-field="name"
                search-url="{:url('admin/test.category/select_page')}"
                show-field="name"
                search-condition="LIKE"
                show-multiple="false"
                >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="所属分类（多选）">所属分类（多选）</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[category_ids]" id="category_ids" placeholder="请选择" class="layui-input selectPage"
                search-field="name"
                search-url="{:url('admin/test.category/select_page')}"
                show-field="name"
                search-condition="LIKE"
                show-multiple="true"
                >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="单个图片">单个图片</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[single_img]" id="input_single_img" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="single_img"
                            upload="true"
                            accept="images"
                            upload_dir=""
                            single_multi="single">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'single_img','accept'=>'images','single_multi'=>'single'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
				<div class="pic-more">
                    <ul class="pic-more-upload-list" id="preview_single_img"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="多个图片">多个图片</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[multi_img]" id="input_multi_img" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="multi_img"
                            upload="true"
                            accept="images"
                            upload_dir=""
                            single_multi="multi">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'multi_img','accept'=>'images','single_multi'=>'multi'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
				<div class="pic-more">
                    <ul class="pic-more-upload-list" id="preview_multi_img"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="视频文件地址">视频文件地址</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[video]" id="input_video" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="video"
                            upload="true"
                            accept="video"
                            upload_dir=""
                            single_multi="single">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'video','accept'=>'video','single_multi'=>'single'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
				<div class="pic-more">
                    <ul class="pic-more-upload-list" id="preview_video"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="音频文件地址">音频文件地址</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[audio]" id="input_audio" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="audio"
                            upload="true"
                            accept="audio"
                            upload_dir=""
                            single_multi="single">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'audio','accept'=>'audio','single_multi'=>'single'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
				<div class="pic-more">
                    <ul class="pic-more-upload-list" id="preview_audio"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="任意文件地址">任意文件地址</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 70%;"><input type="text" class="layui-input" name="row[file]" id="input_file" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="file"
                            upload="true"
                            accept="file"
                            upload_dir=""
                            single_multi="single">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button"
                            class="layui-btn layui-btn-sm layui-btn-danger pull-left popup-frame"
                            data-open="{:url('admin/attachment/select',['id_val'=>'file','accept'=>'file','single_multi'=>'single'])}"
                            data-width="100%"
                            data-height="100%">
                        <i class="layui-icon">&#xe60a;</i> 选 择
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="文章内容">文章内容</label>
        <div class="layui-input-block">
            <script editor="true" type="ueditor" id="content" name="row[content]" type="text/plain"></script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="创建时间">创建时间</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="row[create_time]" id="create_time" autocomplete="off" laydate="true" laydate_type="datetime" placeholder="请选择时间">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="日期">日期</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="row[date]" id="date" autocomplete="off" laydate="true" laydate_type="month" placeholder="请选择时间">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="地区设置">地区设置 <text title="必填项" style="color:red;">*</text></label>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <select
                    linkage="true"
                    lay-filter="province_id"
                    lay-verify=""
                    lay-verType="tips"
                    placeholder="请选择省份"
                    name="row[province_id]"
                    id="province_id"
                    table_name="lt_area"
                    search_field="pid"
                    search_field_val="0"
                    selected_val=""
                    show_field="name"
                    left_field=""
                    right_field="city_id"
                >
                    <option value="">请选择省份</option>
                </select>
            </div>
			<div class="layui-input-inline">
                <select
                    linkage="true"
                    lay-filter="city_id"
                    lay-verify=""
                    lay-verType="tips"
                    placeholder="请选择城市"
                    name="row[city_id]"
                    id="city_id"
                    table_name="lt_area"
                    search_field="pid"
                    search_field_val="0"
                    selected_val=""
                    show_field="name"
                    left_field="province_id"
                    right_field="area_id"
                >
                    <option value="">请选择城市</option>
                </select>
            </div>
			<div class="layui-input-inline">
                <select
                    linkage="true"
                    lay-filter="area_id"
                    lay-verify=""
                    lay-verType="tips"
                    placeholder="请选择地区"
                    name="row[area_id]"
                    id="area_id"
                    table_name="lt_area"
                    search_field="pid"
                    search_field_val="0"
                    selected_val=""
                    show_field="name"
                    left_field="city_id"
                    right_field=""
                >
                    <option value="">请选择地区</option>
                </select>
            </div>
        </div>
    </div>
{/block}