{extend name="admin@public/layout/popup_form"}

{block name="form"}
    <div class="layui-form-item">
        <label class="layui-form-label" title="标题">标题</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[title]" id="title" placeholder="请输入标题" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="年级">年级</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[grade]" id="grade" placeholder="请输入年级" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="状态">状态</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[status]" id="status" placeholder="请输入状态" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="英雄">英雄</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[hero]" id="hero" placeholder="请输入英雄" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="爱好">爱好</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[hobby]" id="hobby" placeholder="请输入爱好" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="标志">标志</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[sign]" id="sign" placeholder="请输入标志" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="描述">描述</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[description]" id="description" placeholder="请输入描述" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="所属分类（单选）">所属分类（单选）</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[category_id]" id="category_id" placeholder="请输入所属分类（单选）" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="所属分类（多选）">所属分类（多选）</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[category_ids]" id="category_ids" placeholder="请输入所属分类（多选）" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="单个图片">单个图片</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[single_img]" id="single_img" placeholder="请输入单个图片" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="多个图片">多个图片</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[multi_img]" id="multi_img" placeholder="请输入多个图片" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="视频文件地址">视频文件地址</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[video]" id="video" placeholder="请输入视频文件地址" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="音频文件地址">音频文件地址</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[audio]" id="audio" placeholder="请输入音频文件地址" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="任意文件地址">任意文件地址</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[file]" id="file" placeholder="请输入任意文件地址" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="文章内容">文章内容</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[content]" id="content" placeholder="请输入文章内容" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="省份">省份</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[province_id]" id="province_id" placeholder="请输入省份" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="城市">城市</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[city_id]" id="city_id" placeholder="请输入城市" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="地区">地区</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[area_id]" id="area_id" placeholder="请输入地区" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>
{/block}