{extend name="admin@public/layout/main"}

{block name="tabs"}
<div class="layui-card">
<div class="layui-tab layui-tab-brief">
<ul class="layui-tab-title">
    <li class="layui-this" click_search="true" field="status" field_val="">全部</li>
    <li click_search="true" field="status" field_val="0">关闭</li>
	<li click_search="true" field="status" field_val="1">打开</li>
</ul>
</div>
</div>
{/block}

{block name="search_form"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <form class="layui-form" lay-filter="laytp_search_form" style="margin-bottom:0px;">
        <input type="hidden" id="order_param_field" name="order_param[field]" value="">
        <input type="hidden" id="order_param_type" name="order_param[type]" value="">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label" title="ID">ID</label>
            <div class="layui-input-inline">
                <input autocomplete="off" type="text" id="id" name="search_param[id][value]" id="id" placeholder="请输入ID" class="layui-input">
                <input type="hidden" name="search_param[id][condition]" value="=">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="标题">标题</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="title" name="search_param[title][value]" id="title" placeholder="请输入标题" class="layui-input">
                    <input type="hidden" name="search_param[title][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="年级">年级</label>
                <div class="layui-input-inline">
                    <select id="grade" name="search_param[grade][value]" placeholder="请输入年级">
        				<option value=""></option>
						<option value="1">一年级</option>
						<option value="2">二年级</option>
						<option value="3">三年级</option>
                    </select>
                    <input type="hidden" name="search_param[grade][condition]" value="=">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="状态">状态</label>
                <div class="layui-input-inline">
                    <select id="status" name="search_param[status][value]" placeholder="请输入状态">
        				<option value=""></option>
						<option value="0">关闭</option>
						<option value="1">打开</option>
                    </select>
                    <input type="hidden" name="search_param[status][condition]" value="=">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="英雄">英雄</label>
                <div class="layui-input-inline">
                    <select id="hero" name="search_param[hero][value]" placeholder="请输入英雄">
        				<option value=""></option>
						<option value="0">秀逗魔法师</option>
						<option value="1">受折磨的灵魂</option>
						<option value="2">船长</option>
						<option value="3">虚空假面</option>
						<option value="4">幻影刺客</option>
						<option value="5">谜团</option>
						<option value="6">全能骑士</option>
						<option value="7">敌法师</option>
                    </select>
                    <input type="hidden" name="search_param[hero][condition]" value="=">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="爱好">爱好</label>
                <div class="layui-input-inline">
                    <div id="hobby" class="select_multi" max="9" name="search_param[hobby][value]" options='{:getSelectMultiJsConst($const_hobby)}'></div>
                    <input type="hidden" name="search_param[hobby][condition]" value="FIND_IN_SET">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="标志">标志</label>
                <div class="layui-input-inline">
                    <div id="sign" class="select_multi" max="9" name="search_param[sign][value]" options='{:getSelectMultiJsConst($const_sign)}'></div>
                    <input type="hidden" name="search_param[sign][condition]" value="FIND_IN_SET">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="描述">描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="description" name="search_param[description][value]" placeholder="请输入描述" class="layui-input">
                            <input type="hidden" name="search_param[description][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="所属分类（单选）">所属分类（单选）</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="category_id" name="search_param[category_id][value]" id="category_id" placeholder="请选择" class="layui-input selectPage"
                    search-field="name"
                    search-url="{:url('admin/test.category/select_page')}"
                    show-field="name"
                    show-multiple="true"
                    >
                    <input type="hidden" name="search_param[category_id][condition]" value="IN">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="所属分类（多选）">所属分类（多选）</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="category_ids" name="search_param[category_ids][value]" id="category_ids" placeholder="请选择" class="layui-input selectPage"
                    search-field="name"
                    search-url="{:url('admin/test.category/select_page')}"
                    show-field="name"
                    show-multiple="true"
                    >
                    <input type="hidden" name="search_param[category_ids][condition]" value="FIND_IN_SET">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="文章内容">文章内容</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" name="search_param[content][value]" id="content" placeholder="请输入文章内容" class="layui-input">
                    <input type="hidden" name="search_param[content][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="创建时间">创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="create_time" name="search_param[create_time][value]" laydate="true" laydate_type="datetime" laydate_range="true" placeholder="请选择时间">
<input type="hidden" name="search_param[create_time][condition]" value="BETWEEN">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="地区设置">地区设置</label>
                <div class="layui-input-inline">
                    <select
                        linkage="true"
                        lay-filter="province_id"
                        lay-verType="tips"
                        placeholder="请选择省份"
                        name="search_param[province_id][value]"
                        id="province_id"
                        table_name="lt_area"
                        search_field="pid"
                        search_field_val=""
                        selected_val=""
                        show_field="name"
                        left_field=""
                        right_field="city_id"
                    >
                        <option value="">请选择省份</option>
                    </select>
                    <input type="hidden" name="search_param[province_id][condition]" value="=">
                </div>
				<div class="layui-input-inline">
                    <select
                        linkage="true"
                        lay-filter="city_id"
                        lay-verType="tips"
                        placeholder="请选择城市"
                        name="search_param[city_id][value]"
                        id="city_id"
                        table_name="lt_area"
                        search_field="pid"
                        search_field_val=""
                        selected_val=""
                        show_field="name"
                        left_field="province_id"
                        right_field="area_id"
                    >
                        <option value="">请选择城市</option>
                    </select>
                    <input type="hidden" name="search_param[city_id][condition]" value="=">
                </div>
				<div class="layui-input-inline">
                    <select
                        linkage="true"
                        lay-filter="area_id"
                        lay-verType="tips"
                        placeholder="请选择地区"
                        name="search_param[area_id][value]"
                        id="area_id"
                        table_name="lt_area"
                        search_field="pid"
                        search_field_val=""
                        selected_val=""
                        show_field="name"
                        left_field="city_id"
                        right_field=""
                    >
                        <option value="">请选择地区</option>
                    </select>
                    <input type="hidden" name="search_param[area_id][condition]" value="=">
                </div>
            </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
        </div>
    </form>
</div>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/test.js" charset="utf-8"></script>
{/block}

{block name="js_template"}
{include file="public/js_tpl/toolbar_tpl"}
{include file="public/js_tpl/operation_tpl"}
{/block}