{extend name="admin@public/layout/popup"}

{block name="body"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <form class="layui-form" lay-filter="laytp_search_form" style="margin-bottom:0px;">
        <input type="hidden" id="order_param_field" name="order_param[field]" value="">
        <input type="hidden" id="order_param_type" name="order_param[type]" value="">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label" title="ID">ID</label>
            <div class="layui-input-inline">
                <input autocomplete="off" type="text" id="id" name="search_param[id][value]" id="id" placeholder="请输入ID" class="layui-input">
                <input type="hidden" name="search_param[id][condition]" value="=">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="管理员">管理员</label>
                <div class="layui-input-inline">
                    <input type="text" id="admin_id" name="search_param[admin_id][value]" id="admin_id" placeholder="请选择" class="layui-input selectPage"
                    search-field="nickname"
                    search-url="{:url('admin/auth.user/select_page')}"
                    show-field="nickname"
                    show-multiple="true">
                    <input type="hidden" name="search_param[admin_id][condition]" value="IN">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="标题">标题</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="title" name="search_param[title][value]" id="title" placeholder="请输入标题" class="layui-input">
                    <input type="hidden" name="search_param[title][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="年级">年级</label>
                <div class="layui-input-inline">
                    <select id="grade" name="search_param[grade][value]" placeholder="请输入年级">
        				<option value=""></option>
						<option value="1">一年级</option>
						<option value="2">二年级</option>
						<option value="3">三年级</option>
                    </select>
                    <input type="hidden" name="search_param[grade][condition]" value="=">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="状态">状态</label>
                <div class="layui-input-inline">
                    <select id="status" name="search_param[status][value]" placeholder="请输入状态">
        				<option value=""></option>
						<option value="0">关闭</option>
						<option value="1">打开</option>
                    </select>
                    <input type="hidden" name="search_param[status][condition]" value="=">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="英雄">英雄</label>
                <div class="layui-input-inline">
                    <select id="hero" name="search_param[hero][value]" placeholder="请输入英雄">
        				<option value=""></option>
						<option value="0">秀逗魔法师</option>
						<option value="1">受折磨的灵魂</option>
						<option value="2">船长</option>
						<option value="3">虚空假面</option>
						<option value="4">幻影刺客</option>
						<option value="5">谜团</option>
						<option value="6">全能骑士</option>
						<option value="7">敌法师</option>
                    </select>
                    <input type="hidden" name="search_param[hero][condition]" value="=">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="爱好">爱好</label>
                <div class="layui-input-inline">
                    <div id="hobby" class="select_multi" max="9" name="search_param[hobby][value]" options='{:getSelectMultiJsConst($const_hobby)}'></div>
                    <input type="hidden" name="search_param[hobby][condition]" value="FIND_IN_SET">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="标志">标志</label>
                <div class="layui-input-inline">
                    <div id="sign" class="select_multi" max="9" name="search_param[sign][value]" options='{:getSelectMultiJsConst($const_sign)}'></div>
                    <input type="hidden" name="search_param[sign][condition]" value="FIND_IN_SET">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="描述">描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="description" name="search_param[description][value]" placeholder="请输入描述" class="layui-input">
                            <input type="hidden" name="search_param[description][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="所属分类（单选）">所属分类（单选）</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="category_id" name="search_param[category_id][value]" id="category_id" placeholder="请选择" class="layui-input selectPage"
                    search-field="name"
                    search-url="{:url('admin/test.category/select_page')}"
                    show-field="name"
                    show-multiple="true"
                    >
                    <input type="hidden" name="search_param[category_id][condition]" value="IN">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="所属分类（多选）">所属分类（多选）</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="category_ids" name="search_param[category_ids][value]" id="category_ids" placeholder="请选择" class="layui-input selectPage"
                    search-field="name"
                    search-url="{:url('admin/test.category/select_page')}"
                    show-field="name"
                    show-multiple="true"
                    >
                    <input type="hidden" name="search_param[category_ids][condition]" value="FIND_IN_SET">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="文章内容">文章内容</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" name="search_param[content][value]" id="content" placeholder="请输入文章内容" class="layui-input">
                    <input type="hidden" name="search_param[content][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="创建时间">创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="create_time" name="search_param[create_time][value]" laydate="true" laydate_type="datetime" laydate_range="true" placeholder="请选择时间">
<input type="hidden" name="search_param[create_time][condition]" value="BETWEEN_STRTOTIME">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="日期">日期</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="date" name="search_param[date][value]" laydate="true" laydate_type="month" laydate_range="true" placeholder="请选择时间">
<input type="hidden" name="search_param[date][condition]" value="BETWEEN">
                </div>
            </div>

		    <div class="layui-form-item layui-inline">
                <label class="layui-form-label" title="地区设置">地区设置</label>
                <div class="layui-input-inline">
                    <select
                        linkage="true"
                        lay-filter="province_id"
                        lay-verType="tips"
                        placeholder="请选择省份"
                        name="search_param[province_id][value]"
                        id="province_id"
                        table_name="lt_area"
                        search_field="pid"
                        search_field_val=""
                        selected_val=""
                        show_field="name"
                        left_field=""
                        right_field="city_id"
                    >
                        <option value="">请选择省份</option>
                    </select>
                    <input type="hidden" name="search_param[province_id][condition]" value="=">
                </div>
				<div class="layui-input-inline">
                    <select
                        linkage="true"
                        lay-filter="city_id"
                        lay-verType="tips"
                        placeholder="请选择城市"
                        name="search_param[city_id][value]"
                        id="city_id"
                        table_name="lt_area"
                        search_field="pid"
                        search_field_val=""
                        selected_val=""
                        show_field="name"
                        left_field="province_id"
                        right_field="area_id"
                    >
                        <option value="">请选择城市</option>
                    </select>
                    <input type="hidden" name="search_param[city_id][condition]" value="=">
                </div>
				<div class="layui-input-inline">
                    <select
                        linkage="true"
                        lay-filter="area_id"
                        lay-verType="tips"
                        placeholder="请选择地区"
                        name="search_param[area_id][value]"
                        id="area_id"
                        table_name="lt_area"
                        search_field="pid"
                        search_field_val=""
                        selected_val=""
                        show_field="name"
                        left_field="city_id"
                        right_field=""
                    >
                        <option value="">请选择地区</option>
                    </select>
                    <input type="hidden" name="search_param[area_id][condition]" value="=">
                </div>
            </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
        </div>
    </form>
</div>
<table class="laytp-table layui-hide-sm" lay-filter="default"></table>
{/block}

{block name="script"}
<script>
layui.use(['layTp'],function() {
    const
        func_controller = {}
        ,layTp = layui.layTp
        ,$ = layui.jquery
    ;

    //批量操作渲染
    layui.dropdown.render({
        elem: '.action-more',
        options: [
            {
                action: "renew"
                ,title: "还原"
                ,icon: "layui-icon-list"
                ,uri: layTp.facade.url(module + "/" + controller + "/renew")
                ,need_refresh:true
                ,switch_type: "confirm_action"
            }
            ,{
                action: 'true_del',
                title: '彻底删除'
                ,icon: "layui-icon-delete"
                ,uri: layTp.facade.url(module + "/" + controller + "/true_del")
                ,need_refresh:true
                ,switch_type: "confirm_action"
            }
        ]
    });

    //表格渲染
    func_controller.table_render = function (where) {
        layui.table.render({
            elem: '.layui-hide-sm'
            , id: table_id
            , url: window.location.href
            , toolbar: '#default_toolbar'
            , where: where
            , even: true
            , method: 'GET'
            , cellMinWidth: 80
            , page: true
            , cols: [[
                {type:'checkbox'}
				,{field:'id',title:'ID',align:'center',width:80}
				,{field:'admin_id',title:'管理员',align:'center'}
				,{field:'title',title:'标题',align:'center'}
				,{field:'grade',title:'年级',align:'center',templet:function(d){
					return layTp.facade.formatter.status('grade',d.grade,{"1":"一年级","2":"二年级","3":"三年级"});
				}}
				,{field:'status',title:'状态',align:'center',templet:function(d){
					return layTp.facade.formatter.switch('status',d,{"open":{"value":1,"text":"打开"},"close":{"value":0,"text":"关闭"}});
				}}
				,{field:'hero',title:'英雄',align:'center',templet:function(d){
					return layTp.facade.formatter.status('hero',d.hero,["秀逗魔法师","受折磨的灵魂","船长","虚空假面","幻影刺客","谜团","全能骑士","敌法师"]);
				}}
				,{field:'hobby',title:'爱好',align:'center',templet:function(d){
					return layTp.facade.formatter.flag(d.hobby,["游泳","下棋","游戏","乒乓球","羽毛","跑步","爬山","美食"]);
				}}
				,{field:'sign',title:'标志',align:'center',templet:function(d){
					return layTp.facade.formatter.flag(d.sign,["热门","首页","顶级分类推荐","二级分类推荐","特定分类推荐","轮播图","置顶","新闻"]);
				}}
				,{field:'description',title:'描述',align:'center'}
				,{field:'category_id',title:'所属分类（单选）',align:'center',templet:'<div>{{# if(d.remt){ }}{{d.remt.name}}{{# }else{ }}-{{# } }}</div>'}
				,{field:'category_ids',title:'所属分类（多选）',align:'center'}
				,{field:'single_img',title:'单个图片',align:'center',templet:function(d){
					return layTp.facade.formatter.images(d.single_img);
				}}
				,{field:'multi_img',title:'多个图片',align:'center',templet:function(d){
					return layTp.facade.formatter.images(d.multi_img);
				}}
				,{field:'video',title:'视频文件地址',align:'center',templet:function(d){
					return layTp.facade.formatter.video(d.video);
				}}
				,{field:'audio',title:'音频文件地址',align:'center',templet:function(d){
					return layTp.facade.formatter.audio(d.audio);
				}}
				,{field:'file',title:'任意文件地址',align:'center',templet:function(d){
					return layTp.facade.formatter.file(d.file);
				}}
				,{field:'content',title:'文章内容',align:'center'}
				,{field:'province_id',title:'省份',align:'center'}
				,{field:'city_id',title:'城市',align:'center'}
				,{field:'area_id',title:'地区',align:'center'}
				,{field:'create_time',title:'创建时间',align:'center'}
				//,{field:'update_time',title:'更新时间',align:'center'}
				//,{field:'delete_time',title:'删除时间',align:'center'}
				,{field:'date',title:'日期',align:'center'}
				,{field:'operation',title:'操作',align:'center',toolbar:'#operation',width:100,fixed:'right'}
            ]]
        });

        //监听默认工具条
        layui.table.on('tool(default)', function(obj){
            if(default_table_tool.indexOf(obj.event) != -1){
                layTp.facade.table_tool(obj);
            }else{
                //新增的其他操作按钮在这里来写
                //switch(obj.event){
                //    case '':
                //
                //        break;
                //}
            }
        });
    }

    func_controller.table_render();

    window.func_controller = func_controller;
});
</script>
{/block}

{block name="js_template"}
<script type="text/html" id="operation">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-list" lay-event="renew" title="还原" layer-tips="还原"> </a>
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-delete" lay-event="true_del" title="彻底删除" layer-tips="彻底删除" colour="#f51c1c"> </a>
    </div>
</script>
<script type="text/html" id="default_toolbar">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-list action-more">&nbsp;批量操作</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm show-hidden-search-form layui-icon layui-icon-search">&nbsp;筛选</a>
        </div>
    </div>
</script>
{/block}