{extend name="admin@public/layout/popup"}

{block name="body"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <div class="layui-form layui-card-header" style="height:auto;padding:0;">
        <form class="layui-form-item layui-form-pane" style="margin-bottom:0px;">
            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="标题">标题</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="title" name="search_param[title][value]" id="title" placeholder="请输入标题" class="layui-input">
                    <input type="hidden" name="search_param[title][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="年级">年级</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="grade" name="search_param[grade][value]" id="grade" placeholder="请输入年级" class="layui-input">
                    <input type="hidden" name="search_param[grade][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="状态">状态</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="status" name="search_param[status][value]" id="status" placeholder="请输入状态" class="layui-input">
                    <input type="hidden" name="search_param[status][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="英雄">英雄</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="hero" name="search_param[hero][value]" id="hero" placeholder="请输入英雄" class="layui-input">
                    <input type="hidden" name="search_param[hero][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="爱好">爱好</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="hobby" name="search_param[hobby][value]" id="hobby" placeholder="请输入爱好" class="layui-input">
                    <input type="hidden" name="search_param[hobby][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="标志">标志</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="sign" name="search_param[sign][value]" id="sign" placeholder="请输入标志" class="layui-input">
                    <input type="hidden" name="search_param[sign][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="描述">描述</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" name="search_param[description][value]" id="description" placeholder="请输入描述" class="layui-input">
                    <input type="hidden" name="search_param[description][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="所属分类（单选）">所属分类（单选）</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="category_id" name="search_param[category_id][value]" id="category_id" placeholder="请输入所属分类（单选）" class="layui-input">
                    <input type="hidden" name="search_param[category_id][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="所属分类（多选）">所属分类（多选）</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="category_ids" name="search_param[category_ids][value]" id="category_ids" placeholder="请输入所属分类（多选）" class="layui-input">
                    <input type="hidden" name="search_param[category_ids][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="单个图片">单个图片</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="single_img" name="search_param[single_img][value]" id="single_img" placeholder="请输入单个图片" class="layui-input">
                    <input type="hidden" name="search_param[single_img][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="视频文件地址">视频文件地址</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="video" name="search_param[video][value]" id="video" placeholder="请输入视频文件地址" class="layui-input">
                    <input type="hidden" name="search_param[video][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="音频文件地址">音频文件地址</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="audio" name="search_param[audio][value]" id="audio" placeholder="请输入音频文件地址" class="layui-input">
                    <input type="hidden" name="search_param[audio][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="任意文件地址">任意文件地址</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="file" name="search_param[file][value]" id="file" placeholder="请输入任意文件地址" class="layui-input">
                    <input type="hidden" name="search_param[file][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="文章内容">文章内容</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="content" name="search_param[content][value]" id="content" placeholder="请输入文章内容" class="layui-input">
                    <input type="hidden" name="search_param[content][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="省份">省份</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="province_id" name="search_param[province_id][value]" id="province_id" placeholder="请输入省份" class="layui-input">
                    <input type="hidden" name="search_param[province_id][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="城市">城市</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="city_id" name="search_param[city_id][value]" id="city_id" placeholder="请输入城市" class="layui-input">
                    <input type="hidden" name="search_param[city_id][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="地区">地区</label>
                <div class="layui-input-inline">
                    <input autocomplete="off" type="text" id="area_id" name="search_param[area_id][value]" id="area_id" placeholder="请输入地区" class="layui-input">
                    <input type="hidden" name="search_param[area_id][condition]" value="LIKE">
                </div>
            </div>

		    <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="创建时间">创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="create_time" name="search_param[create_time][value]" laydate="true" laydate_type="datetime" laydate_range="true" placeholder="请选择时间">
<input type="hidden" name="search_param[create_time][condition]" value="BETWEEN">
                </div>
            </div>

        <div class="layui-inline" style="padding-left: 10px;">
            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
        </div>
        </form>
    </div>
</div>
<table class="laytp-table layui-hide-sm" lay-filter="default"></table>
{/block}

{block name="script"}
<script>
layui.use(['layTp'],function() {
    const
        func_controller = {}
        ,layTp = layui.layTp
        ,$ = layui.jquery
    ;

    //批量操作渲染
    layui.dropdown.render({
        elem: '.action-more',
        options: [
            {
                action: "renew"
                ,title: "还原"
                ,icon: "layui-icon-list"
                ,uri: layTp.facade.url(module + "/" + controller + "/renew")
                ,need_refresh:true
                ,switch_type: "confirm_action"
            }
            ,{
                action: 'true_del',
                title: '彻底删除'
                ,icon: "layui-icon-delete"
                ,uri: layTp.facade.url(module + "/" + controller + "/true_del")
                ,need_refresh:true
                ,switch_type: "confirm_action"
            }
        ]
    });

    //表格渲染
    func_controller.table_render = function (where) {
        layui.table.render({
            elem: '.layui-hide-sm'
            , id: table_id
            , url: window.location.href
            , toolbar: '#default_toolbar'
            , where: where
            , even: true
            , method: 'GET'
            , cellMinWidth: 80
            , page: true
            , cols: [[
                {type:'checkbox'}
				,{field:'id',title:'ID',align:'center',width:80}
				//,{field:'update_time',title:'更新时间',align:'center'}
				//,{field:'delete_time',title:'删除时间',align:'center'}
				,{field:'title',title:'标题',align:'center'}
				,{field:'grade',title:'年级',align:'center'}
				,{field:'status',title:'状态',align:'center'}
				,{field:'hero',title:'英雄',align:'center'}
				,{field:'hobby',title:'爱好',align:'center'}
				,{field:'sign',title:'标志',align:'center'}
				,{field:'description',title:'描述',align:'center'}
				,{field:'category_id',title:'所属分类（单选）',align:'center'}
				,{field:'category_ids',title:'所属分类（多选）',align:'center'}
				,{field:'single_img',title:'单个图片',align:'center'}
				,{field:'multi_img',title:'多个图片',align:'center',templet:function(d){
					return layTp.facade.formatter.images(d.multi_img);
				}}
				,{field:'video',title:'视频文件地址',align:'center'}
				,{field:'audio',title:'音频文件地址',align:'center'}
				,{field:'file',title:'任意文件地址',align:'center'}
				,{field:'content',title:'文章内容',align:'center'}
				,{field:'province_id',title:'省份',align:'center'}
				,{field:'city_id',title:'城市',align:'center'}
				,{field:'area_id',title:'地区',align:'center'}
				,{field:'create_time',title:'创建时间',align:'center'}
				,{field:'operation',title:'操作',align:'center',toolbar:'#operation',width:100,fixed:'right'}
            ]]
        });

        //监听默认工具条
        layui.table.on('tool(default)', function(obj){
            if(default_table_tool.indexOf(obj.event) != -1){
                layTp.facade.table_tool(obj);
            }else{
                //新增的其他操作按钮在这里来写
                //switch(obj.event){
                //    case '':
                //
                //        break;
                //}
            }
        });
    }

    func_controller.table_render();

    window.func_controller = func_controller;
});
</script>
{/block}

{block name="js_template"}
<script type="text/html" id="operation">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-list" lay-event="renew" title="还原" layer-tips="还原"> </a>
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-delete" lay-event="true_del" title="彻底删除" layer-tips="彻底删除" colour="#f51c1c"> </a>
    </div>
</script>
<script type="text/html" id="default_toolbar">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-list action-more">&nbsp;批量操作</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm show-hidden-search-form layui-icon layui-icon-search">&nbsp;筛选</a>
        </div>
    </div>
</script>
{/block}