<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$Think.config.laytp.basic.site_name}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 加载公用css文件 -->
    {include file="public/layout/file/css_file"}
    <!-- 自定义样式 -->
    {block name="style"}{/block}
    <!-- 加载全局js常量 -->
    {include file="public/layout/file/js_global_var"}
</head>
<body class="layui-layout-body laytp-theme-10">
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div class="page-body">
        <div class="page-tab-content" style="padding:0;">
            {block name="main_body"}
            {if $menu_info['des']}
            <blockquote class="laytp-elem-quote layui-text">
                <p>{$menu_info['des']}</p>
            </blockquote>
            {/if}
            {block name="tabs"}{/block}
            <div class="layui-tab-content">
                <!-- 搜索表单部分 -->
                {block name="search_form"}{/block}
                {block name="table_content"}
                <!-- 固定的layui-table -->
                <table class="laytp-table layui-hide-sm" lay-filter="default"></table>
                {/block}
            </div>
            {/block}
        </div>
    </div>
</div>
<!-- 加载公用js文件 -->
{include file="public/layout/file/js_file"}
<!-- 自定义js内容 -->
{block name="script"}{/block}
<!-- js模板部分 -->
{block name="js_template"}{/block}
<script>
    document.addEventListener("click",clickHidden);//所有组件添加点击事件，为了实现点击任何地方都隐藏批量操作层

    function clickHidden(e){
        if( e.target.id!="laytp_clear_cache" ){
            $('.layui-dropdown',parent.document).hide();
            $('#laytp_clear_cache',parent.document).parent('li').removeClass('layui-this');
            $('.layui-dropdown').hide();
            $('#laytp_clear_cache').parent('li').removeClass('layui-this');
        }
    }
</script>
</body>
</html>