<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$Think.config.laytp.basic.site_name}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 加载公用css文件 -->
    {include file="public/layout/file/css_file"}
    <!-- 自定义样式 -->
    {block name="style"}{/block}
    <!-- 加载全局js常量 -->
    {include file="public/layout/file/js_global_var"}
</head>
<body class="layui-layout-body laytp-theme-10">
<div class="layui-layout layui-layout-admin">
    {include file="public/layout/file/top_menu"}

    <div class="layui-body">
        {block name="crumbs"}
            <ul class="bread-crumbs">
                <li><a href="javascript:void(0);">{$now_first_menu}</a></li>
                <li>&gt;</li>
                <li><a href="javascript:void(0);">{$now_second_menu}</a></li>
                <li>&gt;</li>
                <li><a href="javascript:void(0);">{$now_third_menu}</a></li>
            </ul>
        {/block}
        <!-- 内容主体区域 -->
        <div class="page-body">
            <!-- 搜索表单部分 -->
            {block name="search_form"}{/block}

            <!-- 按钮列表部分 -->
            {block name="button_list"}{/block}

            <!-- 固定的layui-table -->
            {block name="main_body"}
            <div class="page-tab-content">
                <table class="laytp-table layui-hide-sm" lay-filter="default"></table>
            </div>
            {/block}
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer">
        © laytp.phpby.com
    </div>
</div>
<!-- 加载公用js文件 -->
{include file="public/layout/file/js_file"}
<!-- 自定义js内容 -->
{block name="script"}{/block}
<!-- js模板部分 -->
{block name="js_template"}{/block}
</body>
</html>