<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LayTp</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- 加载公用css文件 -->
    {include file="public/layout/file/css_file"}
    <!-- 自定义样式 -->
    {block name="style"}{/block}
    <!-- 加载全局js常量 -->
    {include file="public/layout/file/js_global_var"}
</head>
<body class="laytp-theme-10">
<div class="popup-content">
    <form class="layui-form layui-form-pane page-list-form">
        <!-- 表单内容部分 -->
        {block name="form"}{/block}
        <!-- 表单底部按钮部分 -->
        {block name="form_footer"}
        <style>
            .form-footer{
                position:fixed;
                left:0;
                right:0;
                bottom:0;
                height:44px;
                line-height:44px;
                padding: 0 15px;
                background-color:#eee;
            }
        </style>
        <div class="form-footer">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <a class="layui-btn layui-btn-normal" lay-submit lay-filter="*">提 交</a>
                    <a type="reset" class="layui-btn layui-btn-primary">重置</a>
                </div>
            </div>
        </div>
        {/block}
    </form>
</div>
<!-- 加载公用js文件 -->
{include file="public/layout/file/js_file"}
<!-- 自定义js内容 -->
{block name="script"}{/block}
<!-- js模板部分 -->
{block name="js_template"}{/block}
</body>
</html>