{extend name="admin@public/layout/popup_form"}

{block name="form"}
    <div class="layui-form-item">
        <label class="layui-form-label" title="模板ID">模板ID</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[template_id]" id="template_id" placeholder="请输入模板ID" value="{$template_id}" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="事件名称">事件名称</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[event]" id="event" placeholder="请输入事件名称" value="{$event}" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="邮件内容参数">邮件内容参数</label>
        <div class="layui-input-block">
            <textarea name="row[params]" id="params" placeholder="请输入邮件内容参数" class="layui-textarea" lay-verify="" lay-verType="tips">{$params}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="邮件内容">邮件内容</label>
        <div class="layui-input-block">
            <textarea name="row[content]" id="content" placeholder="请输入邮件内容" class="layui-textarea" lay-verify="" lay-verType="tips">{$content}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="发件人邮箱">发件人邮箱</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[from]" id="from" placeholder="请输入发件人邮箱" value="{$from}" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="收件人邮箱">收件人邮箱</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[to]" id="to" placeholder="请输入收件人邮箱" value="{$to}" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="状态">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="row[status]" id="status-1" value="1" title="未使用" {if $status == '1'}checked="checked"{/if} />
			<input type="radio" name="row[status]" id="status-2" value="2" title="已使用" {if $status == '2'}checked="checked"{/if} />
			<input type="radio" name="row[status]" id="status-3" value="3" title="已过期" {if $status == '3'}checked="checked"{/if} />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="过期时间，0表示永不过期">过期时间，0表示永不过期</label>
        <div class="layui-input-block">
            <input autocomplete="off" type="text" name="row[expire_time]" id="expire_time" placeholder="请输入过期时间，0表示永不过期" value="{$expire_time}" class="layui-input" lay-verify="" lay-verType="tips">
        </div>
    </div>
{/block}