{extend name="admin@public/main"}

{block name="main_body"}
<div class="page-tab-content">
    <style type="text/css">
        .layui-form-item .layui-form-label{width:130px;text-align:right;}
        .layui-form-item .layui-input-inline{max-width:80%;width:auto;min-width:260px;}
        .layui-form-mid{padding:0!important;}
        .layui-form-mid code{color:#5FB878;}
    </style>
    <form class="page-list-form layui-form" style="margin-top: 10px;">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="row[name]" lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input" value="{$admin_user.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="row[password]" lay-verify="pass" placeholder="请输入密码，留空为不修改密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重复密码</label>
            <div class="layui-input-inline">
                <input type="password" name="row[re_password]" lay-verify="pass" placeholder="请输入密码，留空为不修改密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"> </label>
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="*">提 交</button>
            </div>
        </div>
    </form>
</div>
{/block}