<script type="text/html" id="menu_toolbar">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);"
                    class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine popup-frame"
                    data-name="导入"
                    data-open="{:url($js_global_var['module'].'/'.$js_global_var['controller'].'/import')}"
                    >
                导入
            </a>
        </div>
    </div>
</script>