.laytp-link{
	font-size: 15px!important;
}

.laytp-link.laytp-link-primary{
	color : #5FB878 ;
}

.laytp-link.laytp-link-success{
	color : #5FB878 ;
}

.laytp-link .laytp-link-warming{
	
	
}

.laytp-link .laytp-link-danger{
	
}