{extend name="admin@public/layout/popup_form"}

{block name="form"}
    <div class="layui-form-item">
        <label class="layui-form-label" title="文件路径">文件路径 <text title="必填项" style="color:red;">*</text></label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 75%;"><input type="text" lay-verify="required" class="layui-input" name="row[file_path]" id="input_file_path" value="{$file_path}" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-primary pull-left"
                            id="file_path"
                            upload="true"
                            accept="file"
                            single_multi="single">
                        <i class="layui-icon">&#xe62f;</i> 上 传
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="文件类型">文件类型</label>
        <div class="layui-input-block">
            <input type="radio" name="row[file_type]" value="images" title="图片" {if $file_type == 'images'}checked="checked"{/if} />
			<input type="radio" name="row[file_type]" value="video" title="视频" {if $file_type == 'video'}checked="checked"{/if} />
			<input type="radio" name="row[file_type]" value="audio" title="音频" {if $file_type == 'audio'}checked="checked"{/if} />
			<input type="radio" name="row[file_type]" value="file" title="文件" {if $file_type == 'file'}checked="checked"{/if} />
        </div>
    </div>
{/block}