{extend name="admin@public/layout/main"}

{block name="tabs"}
<div class="layui-card">
<div class="layui-tab layui-tab-brief">
<ul class="layui-tab-title">
    <li class="layui-this" click_search="true" field="file_type" field_val="">全部</li>
    <li click_search="true" field="file_type" field_val="images">图片</li>
	<li click_search="true" field="file_type" field_val="video">视频</li>
	<li click_search="true" field="file_type" field_val="audio">音频</li>
	<li click_search="true" field="file_type" field_val="file">文件</li>
</ul>
</div>
</div>
{/block}

{block name="search_form"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <div class="layui-form layui-card-header" style="height:auto;padding:0;">
        <form class="layui-form-item layui-form-pane" style="margin-bottom:0px;">
            <div class="layui-inline" style="padding-left: 10px;">
                <label class="layui-form-label" title="文件类型">文件类型</label>
                <div class="layui-input-inline">
                    <select id="file_type" name="search_param[file_type][value]" placeholder="请输入文件类型">
        				<option value=""></option>
						<option value="images">图片</option>
						<option value="video">视频</option>
						<option value="audio">音频</option>
						<option value="file">文件</option>
                    </select>
                    <input type="hidden" name="search_param[file_type][condition]" value="=">
                </div>
            </div>

        <div class="layui-inline" style="padding-left: 10px;">
            <button class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="laytp"><i class="layui-icon"></i> 搜 索</button>
        </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/attachment.js" charset="utf-8"></script>
{/block}

{block name="js_template"}
{include file="public/js_tpl/toolbar_tpl"}
{include file="public/js_tpl/operation_tpl"}
{/block}