/* 简易编辑器 */
.fly-edit{position:relative; display: block; height: 38px; top: 1px; left:0; border: 1px solid #e6e6e6; border-radius: 2px 2px 0 0; background-color: #FBFBFB; font-size: 0;}
.fly-edit span{position: relative; display: inline-block; vertical-align: top; width: 50px; height: 38px; line-height: 38px; border-right: 1px solid #e6e6e6; text-align: center; color: #009E94; cursor: pointer; font-size: 18px;}
.fly-edit span i{position: relative; font-size: 18px;}
.fly-edit span.layui-this,
.fly-edit span:hover{background-color: #f2f2f2; color: #5DB276;}
.layui-textarea:hover,
.layui-textarea:focus{border-color: #e6e6e6 !important;}

body .layui-edit-face{ border:none; background:none;}
body .layui-edit-face  .layui-layer-content{padding:0; background-color:#fff; color:#666; box-shadow:none}
.layui-edit-face .layui-layer-TipsG{display:none;}
.layui-edit-face ul{position:relative; width:372px; padding:10px; border:1px solid #D9D9D9; background-color:#fff; box-shadow: 0 0 20px rgba(0,0,0,.2);}
.layui-edit-face ul li{cursor: pointer; float: left; border: 1px solid #e8e8e8; height: 22px; width: 26px; overflow: hidden; margin: -1px 0 0 -1px; padding: 4px 2px; text-align: center;}
.layui-edit-face ul li:hover{position: relative; z-index: 2; border: 1px solid #eb7350; background: #fff9ec;}

.site-content {
    width: 899px;
    min-height: 900px;
    font-size:14px;
    display: inline-block;
    vertical-align: top;
}

.site-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 10px;
    line-height: 22px;
}
