{extend name="admin@public/form"}

{block name="form"}
    <div class="layui-form-item">
        <label class="layui-form-label" title="用户名">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="row[name]" placeholder="请输入用户名" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="密码">密码</label>
        <div class="layui-input-block">
            <input type="password" name="row[password]" placeholder="请输入密码" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="是否为超管">是否为超管</label>
        <div class="layui-input-block">
            <!-- 隐藏域设置开关未选中时需要传递的参数值 -->
            <input type="hidden" name="row[is_super_manage]" value="0" />
            <input type="checkbox" name="row[is_super_manage]" lay-skin="switch" lay-text="是|否" value="1" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="单个图片">单个图片</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <div class="layui-inline" style="width: 82%;"><input type="text" class="layui-input" name="row[avatar]" id="input_avatar" /></div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-primary pull-left"
                            id="avatar"
                            upload="true"
                            accept="images"
                            single_multi="single"
                    >选择上传</button>
                </div>
                <div class="pic-more">
                    <ul class="pic-more-upload-list" id="preview_avatar"></ul>
                </div>
            </div>
        </div>
    </div>
{/block}