{extend name="admin@public/main"}

{block name="search_form"}
<div class="layui-form layui-card-header" id="search-form" style="height:auto;padding:10px 0 0 0;display:none;">
<form class="layui-form-item layui-form-pane">
    <div class="layui-inline" style="padding-left: 50px;">
        <label class="layui-form-label" title="用户名">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="search_param[name][value]" placeholder="请输入用户名" class="layui-input">
            <input type="hidden" name="search_param[name][condition]" value="LIKE">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 50px;">
        <label class="layui-form-label" title="是否为超级管理员。0.不是;1.是;">是否为超级管理员。0.不是;1.是;</label>
        <div class="layui-input-inline">
            <select name="search_param[is_super_manage][value]" placeholder="请输入是否为超级管理员。0.不是;1.是;">
				<option value=""></option>
				<option value="0">否</option>
				<option value="1">是</option>
            </select>
            <input type="hidden" name="search_param[is_super_manage][condition]" value="=">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 50px;">
        <label class="layui-form-label" title="创建时间">创建时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="search_param[create_time][value]" id="create_time" laydate="true" laydate_type="datetime" laydate_range="true" placeholder="请选择时间">
<input type="hidden" name="search_param[create_time][condition]" value="BETWEEN">
        </div>
    </div>

    <div class="layui-inline" style="padding-left: 50px;">
        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="*"><i class="layui-icon"></i> 搜 索</button>
    </div>
</form>
</div>
{/block}

{block name="js_template"}
{include file="public/js_tpl/search_condition_tpl"}
{include file="public/js_tpl/toolbar_tpl"}
{include file="public/js_tpl/operation_tpl"}
{/block}

{block name="script"}
{__block__}
<script src="__ADMIN_JS__/auth/user.js" charset="utf-8"></script>
{%jsParam%}
{/block}