{extend name="admin@public/layout/main"}

{block name="search_form"}
<div class="search-form-page-tab-content" id="search-form" style="display:none;">
    <div class="layui-form layui-card-header" style="height:auto;padding:0;">
        <form class="layui-form-item layui-form-pane" style="margin-bottom:0px;">
            <div class="layui-inline" style="padding-left: 25px;">
                <label class="layui-form-label" title="用户名">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="search_param[username][value]" placeholder="请输入用户名" class="layui-input">
                    <input type="hidden" name="search_param[username][condition]" value="LIKE">
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 25px;">
                <label class="layui-form-label" title="用户名">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" name="search_param[nickname][value]" placeholder="请输入昵称" class="layui-input">
                    <input type="hidden" name="search_param[nickname][condition]" value="LIKE">
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 25px;">
                <label class="layui-form-label" title="是否为超管">是否为超管</label>
                <div class="layui-input-inline">
                    <select name="search_param[is_super_manager][value]" placeholder="请输入是否为超管">
                        <option value=""></option>
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <input type="hidden" name="search_param[is_super_manager][condition]" value="=">
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 25px;">
                <label class="layui-form-label" title="是否为超管">账号状态</label>
                <div class="layui-input-inline">
                    <select name="search_param[status][value]" placeholder="请输入账号状态">
                        <option value=""></option>
                        <option value="0">冻结</option>
                        <option value="1">正常</option>
                    </select>
                    <input type="hidden" name="search_param[status][condition]" value="=">
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 25px;">
                <label class="layui-form-label" title="创建时间">创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="search_param[create_time][value]" id="create_time" laydate="true" laydate_type="datetime" laydate_range="true" placeholder="请选择时间">
        <input type="hidden" name="search_param[create_time][condition]" value="BETWEEN">
                </div>
            </div>

            <div class="layui-inline" style="padding-left: 25px;">
                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-submit lay-filter="*"><i class="layui-icon"></i> 搜 索</button>
            </div>
        </form>
    </div>
</div>
{/block}

{block name="script"}
<script src="__ADMIN_JS__/auth/user.js" charset="utf-8"></script>
{/block}

{block name="js_template"}
{include file="public/js_tpl/toolbar_tpl"}
{include file="public/js_tpl/operation_tpl"}
{/block}