<style>
    .choose_icon {
        margin:10px;
    }
    .list-inline{padding-left:0;list-style:none;margin-left:-5px;}.list-inline > li{display:inline-block;padding-left:5px;padding-right:5px;}
    .choose_icon ul {
        margin:5px 0 0 0;
    }
    .choose_icon ul li{
        width:41px;height:42px;
        line-height:42px;
        border:1px solid #efefef;
        padding:1px;
        margin:1px;
        text-align: center;
        font-size:18px;
    }
    .choose_icon ul li:hover{
        border:1px solid #2c3e50;
        cursor:pointer;
    }
</style>
<script id="choose_icon_tpl" type="text/html">
    <div class="choose_icon">
        <div>
            <ul class="list-inline">
                {{#  layui.each(d, function(index, item){ }}
                <li>
                    <i class="{{ item.name }}"></i>
                </li>
                {{#  }); }}
            </ul>
        </div>
    </div>
</script>