{extend name="admin@public/main"}

{block name="menus"}
<div class="layui-header">
    <div class="layui-logo">layui 后台布局</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="{:url('/admin')}">首页</a></li>
        <li class="layui-nav-item layui-bg-green"><a href="{:url('/admin/core.menu/index')}"><i class="layui-icon layui-icon-face-smile"></i> 系统核心</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                贤心
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
</div>

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> 权限管理</a>
                <dl class="layui-nav-child">
                    <dd class="layui-bg-green"><a href=""><i class="layui-icon layui-icon-face-smile"></i> 菜单管理</a></dd>
                    <dd><a href="{:url('demo/index/table')}">管理员管理</a></dd>
                    <dd><a href="{:url('demo/index/form')}">角色组</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
{/block}

{block name="main"}
<div class="layui-btn-group">
    <button class="layui-btn layui-btn-sm btn-add" data-open="{:url('admin/core.menu/add')}"><i class="layui-icon">&#xe654;</i>添加</button>
</div>

<!-- 表格部分 -->
<table class="layui-table" lay-size="sm">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>昵称</th>
        <th>加入时间</th>
        <th>签名</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>贤心</td>
        <td>2016-11-29</td>
        <td>人生就像是一场修行</td>
    </tr>
    <tr>
        <td>许闲心</td>
        <td>2016-11-28</td>
        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
    </tr>
    </tbody>
</table>
<!-- 分页部分 -->
<div class="layui-table-page">
    <div id="layui-table-page1">
        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-2">
            <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">
                <i class="layui-icon"></i>
            </a>
            <span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span>
            <a href="javascript:;" data-page="2">2</a>
            <a href="javascript:;" data-page="3">3</a>
            <span class="layui-laypage-spr">…</span>
            <a href="javascript:;" class="layui-laypage-last" title="尾页" data-page="34">34</a>
            <a href="javascript:;" class="layui-laypage-next" data-page="2">
                <i class="layui-icon"></i>
            </a>
            <span class="layui-laypage-skip">
                到第
                <input type="text" min="1" value="1" class="layui-input">
                页
                <button type="button" class="layui-laypage-btn">确定</button>
            </span>
            <span class="layui-laypage-count">共 1000 条</span>
            <span class="layui-laypage-limits">
                <select lay-ignore="">
                    <option value="10">10 条/页</option>
                    <option value="20">20 条/页</option>
                    <option value="30" selected="">30 条/页</option>
                    <option value="40">40 条/页</option>
                    <option value="50">50 条/页</option>
                    <option value="60">60 条/页</option>
                    <option value="70">70 条/页</option>
                    <option value="80">80 条/页</option>
                    <option value="90">90 条/页</option>
                </select>
            </span>
        </div>
    </div>
</div>
{/block}