<script type="text/html" id="menu_toolbar_is_menu">
    <div class="layui-table-tool-temp">
        <div class="layui-btn-group fl">
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-list action-more">&nbsp;批量操作</a>
            <a href="javascript:void(0);" data-open="{:url($js_global_var['module'].'/'.$js_global_var['controller'].'/add')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine popup-frame">&nbsp;添加</a>
            <a href="javascript:void(0);" class="layui-btn layui-btn-primary layui-btn-sm" onclick="show_all(this);"><span>-</span>&nbsp;显示全部</a>
        </div>
    </div>
</script>
<script type="text/javascript">
    function show_all(obj){
        if( $(obj).children().html() == '+' ){
            func_controller.table_render({'is_menu':'all'});
        }else{
            func_controller.table_render({'is_menu':1});
        }
    }
</script>