<script type="text/html" id="menu_toolbar_is_menu_all">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm popup-frame" data-open="{:url($js_global_var['module'].'/'.$js_global_var['controller'].'/add')}"><i class="layui-icon">&#xe654;</i>添加</button>
        <button class="layui-btn layui-btn-sm layui-btn-warm" onclick="show_all(this);"><span>+</span> 显示全部</button>
    </div>
</script>
<script type="text/javascript">
    function show_all(obj){
        if( $(obj).children().html() == '+' ){
            func_controller.table_render({'is_menu':'all'});
        }else{
            func_controller.table_render({'is_menu':1});
        }
    }
</script>