<div class="layui-body">
    {block name="crumbs"}
    <ul class="bread-crumbs">
        <li><a href="javascript:void(0);">{$now_first_menu}</a></li>
        <li>&gt;</li>
        <li><a href="javascript:void(0);">{$now_second_menu}</a></li>
        <li>&gt;</li>
        <li><a href="javascript:void(0);">{$now_third_menu}</a></li>
    </ul>
    {/block}
    <div class="page-body">
        <div class="page-tab-content" style="padding:0;">
            {block name="main_body"}
            <div class="layui-card" style="margin-bottom:10px;">
                {block name="tabs"}{/block}
            </div>
            <div class="layui-tab-content" style="padding: 0px 10px">
                <!-- 搜索表单部分 -->
                {block name="search_form"}{/block}
                {block name="table_content"}
                <!-- 固定的layui-table -->
                <table class="laytp-table layui-hide-sm" lay-filter="default"></table>
                {/block}
            </div>
            {/block}
        </div>
    </div>
</div>