{extend name="admin@public/layout/popup_form"}

{block name="form"}
    <div class="layui-form-item">
        <label class="layui-form-label" title="父id">父id</label>
        <div class="layui-input-block">
            <input type="text" value="{$pid}" name="row[pid]" id="pid" placeholder="请选择" class="layui-input selectPage"
                search-field="name"
                search-url="{:url('admin/area/index',['select_page'=>1])}"
                show-field="name"
                search-condition="LIKE"
                show-multiple="false"
                >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="简称">简称</label>
        <div class="layui-input-block">
            <input type="text" name="row[short_name]" placeholder="请输入简称" value="{$short_name}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="名称">名称</label>
        <div class="layui-input-block">
            <input type="text" name="row[name]" placeholder="请输入名称" value="{$name}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="全称">全称</label>
        <div class="layui-input-block">
            <input type="text" name="row[merge_name]" placeholder="请输入全称" value="{$merge_name}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="层级">层级</label>
        <div class="layui-input-block">
            <input type="radio" name="row[level]" value="1" title="省" {if $level == '1'}checked="checked"{/if} />
			<input type="radio" name="row[level]" value="2" title="市" {if $level == '2'}checked="checked"{/if} />
			<input type="radio" name="row[level]" value="3" title="区县" {if $level == '3'}checked="checked"{/if} />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="拼音">拼音</label>
        <div class="layui-input-block">
            <input type="text" name="row[pinyin]" placeholder="请输入拼音" value="{$pinyin}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="长途区号">长途区号</label>
        <div class="layui-input-block">
            <input type="text" name="row[code]" placeholder="请输入长途区号" value="{$code}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="邮编">邮编</label>
        <div class="layui-input-block">
            <input type="text" name="row[zip]" placeholder="请输入邮编" value="{$zip}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="首字母">首字母</label>
        <div class="layui-input-block">
            <input type="text" name="row[first]" placeholder="请输入首字母" value="{$first}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="经度">经度</label>
        <div class="layui-input-block">
            <input type="text" name="row[lng]" placeholder="请输入经度" value="{$lng}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" title="纬度">纬度</label>
        <div class="layui-input-block">
            <input type="text" name="row[lat]" placeholder="请输入纬度" value="{$lat}" class="layui-input" lay-verify="required" lay-verType="tips">
        </div>
    </div>
{/block}