{extend name="admin@public/form"}

{block name="form"}
<fieldset class="layui-elem-field">
    <legend>基础配置</legend>
    <form class="layui-field-box layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">站点名称</label>
            <div class="layui-input-inline">
                <input type="text" name="row[site_name]" placeholder="请输入站点名称" autocomplete="off" class="layui-input" value="{$site_name}" />
            </div>
            <div class="layui-form-mid layui-word-aux">basic.site_name</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备案号</label>
            <div class="layui-input-inline">
                <input type="text" name="row[beian]" placeholder="请输入备案号" autocomplete="off" class="layui-input" value="{$beian}">
            </div>
            <div class="layui-form-mid layui-word-aux">basic.beian</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本号</label>
            <div class="layui-input-inline">
                <input type="text" name="row[version]" placeholder="请输入版本号" autocomplete="off" class="layui-input" value="{$version}">
            </div>
            <div class="layui-form-mid layui-word-aux">basic.version 静态文件版本号</div>
        </div>
        <div class="form-footer">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*">立即提交</button>
                </div>
            </div>
        </div>
    </form>
</fieldset>
{/block}